.atk-wrapper
    h2 Contact
    .row
        .span_8.col
            .box.outline
                p.about
                    | For enquiries about our services or to arrange a consultation or initial meeting please fill the form:
                {$Contact}
        .span_4.col
            h3
                i.icon-location
                | Our Offices
            p.address
                | Agile55 Limited,
                br
                | 155 Commercial St
                br
                | London
                br
                | E1 6BJ, UK
            h4
                em
                    i.icon-phone
                    | Call us at
                    | +44 7427 599339
            p
                small
                    | <b>ATTN: Outsourcing Companies</b>, PLEASE DO NOT CALL US. We rely only on our
                    | <a href="{page}team{/}">creative team</a> to develop projects. Thanks!
            .social
                {$tw_link}
                {$fb_link}
    h2 Questions and Answers
        h4 
            i.icon-forward
            | Will I own intellectual property to resulting code?
        div
            p Yes. As per our contract, once you supply us with a full payment you become exclusive holder of all copyrigth of your code which was explicitly developed in scope of your project.
        h4 
            i.icon-forward
            | What technologies do you use in your projects?
        div
            p We primarily rely on open-source software stack. Once we know the nature of your project, we will be able to recommend which technologies should be used.
        h4
            i.icon-forward
            | Do you work on a time-basis
        div
            p Yes, if you are looking for a more cost-efficient development for a long-term project and are willing to 
                | have greater control over the tasks in the pipeline, we can take estimation overheads from our development
                | cycle and give you discount for reducing risks.
        h4
            i.icon-forward
            | Do you offer support?
        div
            p We offer several types of support agreements depending on your budget expectations. We may have agreement
                | with you where we would look after the website and react as per your requirement raising invoice
                | on the time spent. Alternatively you can pay a fixed amount every month and we would look after
                | the stability of your site and absorb any excess costs if any large amout of work is needed.

        h4
            i.icon-forward
            | Will my in-house developers be able to maintain your software?
        div
            p Our platform (agiletoolkit) is widely popular and is used by thousands of developers worldwide.
                | If your developer have not discovered Agile Toolkit yet (it's relatively new), then it would take
                | them about a month of self-training to learn the Toolkit.

        h4
            i.icon-forward
            | Agile Toolkit requires licenses for commercial use, will I need them?
        div
            p As the team behind Agile Toolkit we give all our clients a license
                | to use Agile Toolkit on your site for as long as you want and
                | includes up to two developers who can support your site.
                | If you plan to have a larger team working with your software, they
                | will need to to have Agile Toolkit developer account.
