<div id="portfolio" class="section">

    <div class="atk-wrapper">
        <div class="row">
            <div class="span_4 col">
                <h1>Portfolio</h1>
            </div>
            <div class="span_4 col atk-right">
                <div class="tags">
                    <i class="icon-search"></i> Show only: <?$tags?>
                </div>
            </div>
        </div>
        <div class="cc"></div>
        <div class="atk-box">
            <?$projects?>
        </div>
    </div>
</div>
