<div id="portfolio" class="section">

    <div class="atk-wrapper">
        <h1>Portfolio</h1>
        <div class="project-grid">
            <div>
                <a href="<?page?>portfolio/xfactor<?/?>"><i><b style="display: none;"></b><img src="<?tempalte?>images/portfolio/small-xfactor.jpg<?/?>"></i><span>X-Factor</span></a>

                <a href="<?page?>portfolio/mytools<?/?>"><i><b style="display: none;"></b><img src="<?tempalte?>images/portfolio/small-mytools.jpg<?/?>"></i><span>My-Tools</span></a>

                <a href="<?page?>portfolio/ven<?/?>"><i><b style="display: none;"></b><img src="<?tempalte?>images/portfolio/small-ven.jpg<?/?>"></i><span>Ven</span></a>

                <a href="<?page?>portfolio/securehost<?/?>"><i><b style="display: none;"></b><img src="<?tempalte?>images/portfolio/small-securehost.jpg<?/?>"></i><span>SecureHost</span></a>

                <a href="<?page?>portfolio/relate<?/?>"><i><b style="display: none;"></b><img src="<?tempalte?>images/portfolio/small-relate.jpg<?/?>"></i><span>Relate Software</span></a>

                <a href="<?page?>portfolio/privito<?/?>"><i><b style="display: none;"></b><img src="<?tempalte?>images/portfolio/small-privito.jpg<?/?>"></i><span>PriviTo</span></a>

                <a href="<?page?>portfolio/linkedfinance<?/?>"><i><b style="display: none;"></b><img src="<?tempalte?>images/portfolio/small-linkedfinance.jpg<?/?>"></i><span>Linked Finance</span></a>

                <a href="<?page?>portfolio/lims<?/?>"><i><b style="display: none;"></b><img src="<?tempalte?>images/portfolio/small-lims.jpg<?/?>"></i><span>LimsABC</span></a>

                <a href="<?page?>portfolio/jobtracker<?/?>"><i><b style="display: none;"></b><img src="<?tempalte?>images/portfolio/small-jobtracker.jpg<?/?>"></i><span>Job Tracker</span></a>

                <a href="<?page?>portfolio/appsfuel<?/?>"><i><b style="display: none;"></b><img src="<?tempalte?>images/portfolio/small-appsfuel.jpg<?/?>"></i><span>Apps Fuel</span></a>

                <a href="<?page?>portfolio/alli<?/?>"><i><b style="display: none;"></b><img src="<?tempalte?>images/portfolio/small-alli.jpg<?/?>"></i><span>The Alliance of Independent Authors</span></a>

                <a href="<?page?>portfolio/wine<?/?>"><i><b style="display: none;"></b><img src="<?tempalte?>images/portfolio/small-wine.jpg<?/?>"></i><span>Wine</span></a>

                <a href="<?page?>portfolio/agile3y<?/?>"><i><b style="display: none;"></b><img src="<?tempalte?>images/portfolio/small-agile3y.jpg<?/?>"></i><span>Agile is 3 years</span></a>

                <a href="<?page?>portfolio/tunepresto<?/?>"><i><b style="display: none;"></b><img src="<?template?>images/portfolio/small-tunepresto.jpg<?/?>"></i><span>TunePresto.com - World's first video music maker</span></a>

                <a href="<?page?>portfolio/newpark<?/?>"><i><b style="display: none;"></b><img src="<?template?>images/portfolio/small-newpark.jpg<?/?>"></i><span>Newparkschool.ie - Comprehensive School website</span></a>

                <a href="<?page?>portfolio/salesjotter<?/?>" style="margin-right: 0px;"><i><b style="display: none;"></b><img src="<?template?>images/portfolio/small-salesjotter.jpg<?/?>"></i><span>SalesJotter.com - Sales Optimization software</span></a>

                <a href="<?page?>portfolio/travelshake<?/?>"><i><b style="display: none;"></b><img src="<?template?>images/portfolio/small-travelshake.jpg<?/?>"></i><span>Travelshake.com - Travel and Tourism Portal</span></a>

                <a href="<?page?>portfolio/smbo<?/?>"><i><b style="display: none;"></b><img src="<?template?>images/portfolio/smbo.jpg<?/?>"></i><span>SortMyBooksOnline.com - Online Accounting Software</span></a>

                <a href="<?page?>portfolio/realex<?/?>"><i><b style="display: none;"></b><img src="<?template?>images/portfolio/realex.jpg<?/?>"></i><span>Realex Developer's Resource Centre</span></a>

                <a href="<?page?>portfolio/epicenter<?/?>" style="margin-right: 0px;"><i><b style="display: none;"></b><img src="<?template?>images/portfolio/epicenter.jpg<?/?>"></i><span>Epicenter.ie - Irish Software Show Portal</span></a>

                <a href="<?page?>portfolio/obelisk<?/?>"><i><b style="display: none;"></b><img src="<?template?>images/portfolio/obelisk.jpg<?/?>"></i><span>Obelisk Mobile Communication Websites</span></a>

                <a href="<?page?>portfolio/2y<?/?>"><i><b></b><img src="<?template?>images/portfolio/small-agile2y.jpg<?/?>"></i><span>Agile is 2 Years</span></a>

                <a href="<?page?>portfolio/locle<?/?>"><i><b></b><img src="<?template?>images/portfolio/locle.jpg<?/?>"></i><span>Eircom.Locle.com - Location Aware Social Web App</span></a>

                <a href="<?page?>portfolio/gradpool<?/?>" style="margin-right: 0px;"><i><b></b><img src="<?template?>images/portfolio/gradpool.jpg<?/?>"></i><span>Gradpool.ie - Graduate Job Portal</span></a>

                <a href="<?page?>portfolio/irishdev<?/?>"><i><b></b><img src="<?template?>images/portfolio/irishdev.jpg<?/?>"></i><span>IrishDev.com - Irish Software News Portal</span></a>

                <a href="<?page?>portfolio/lamaisondutriskel<?/?>"><i><b></b><img src="<?template?>images/portfolio/small-triskel.jpg<?/?>"></i><span>LaMaisonDuTriskel.eu - Bed and Breakfast Website</span></a>

                <a href="<?page?>portfolio/domainclub<?/?>"><i><b></b><img src="<?template?>images/portfolio/domainclub.jpg<?/?>"></i><span>DomainClub.com - ICANN-Accredited Registrar</span></a>

                <a href="<?page?>portfolio/mypodcast<?/?>" style="margin-right: 0px;"><i><b></b><img src="<?template?>images/portfolio/mypodcast.jpg<?/?>"></i><span>MyPodcast.com - World's Largest Free Podcast Hosting</span></a>

                <a href="<?page?>portfolio/nextaction<?/?>"><i><b></b><img src="<?template?>images/portfolio/nextaction.jpg<?/?>"></i><span>NextAction.ie - Productivity Web Software</span></a>

                <a href="<?page?>portfolio/transpoco<?/?>"><i><b></b><img src="<?template?>images/portfolio/transpoco.jpg<?/?>"></i><span>Transpoco.com - Fleet Management Web Interface</span></a>

                <a href="<?page?>portfolio/ireach<?/?>"><i><b></b><img src="<?template?>images/portfolio/ireach.jpg<?/?>"></i><span>iReachOnline.com - CMS Website</span></a>

                <a href="<?page?>portfolio/3rdchamber<?/?>"><i><b></b><img src="<?template?>images/portfolio/3rd_chamber.png<?/?>"></i><span>3rd Chamber</span></a>

                <a href="<?page?>portfolio/zoubizous<?/?>"><i><b></b><img src="<?template?>images/portfolio/zoubizous-profile.png<?/?>"></i><span>zoubizous</span></a>

                <a href="<?page?>portfolio/elexu<?/?>"><i><b></b><img src="<?template?>images/portfolio/elexu-profile.png<?/?>"></i><span>Elexu.com</span></a>

                <a href="<?page?>portfolio/whitepier<?/?>"><i><b></b><img src="<?template?>images/portfolio/whitepier.png<?/?>"></i><span>whitepier</span></a>

                <a href="<?page?>portfolio/yapzar<?/?>"><i><b></b><img src="<?template?>images/portfolio/yapzar.png<?/?>"></i><span>yapzar</span></a>

                <a href="<?page?>portfolio/surfaccounts<?/?>"><i><b></b><img src="<?template?>images/portfolio/surf-accounts.png<?/?>"></i><span>surf-accounts</span></a>


            </div>
        </div>
    </div>
</div>
