<!-- Edit file services.jade !!!--><h1>Services</h1><div class="row"><div class="span_4 col"><h3>For Entrepreneurs</h3><p>Books, Meetups and Friends encourage you to pursue your
dreams. Internet connects us and Software makes the impossible
- possible.</p><p>People from non-technical backgrounds:
teachers, pilots, accountants, writers often approach us with
a most brilliant ideas for a Web Software. They just don't
know how to build it.</p><p>Our job is to equip them with a technical plan - software
specification, quotation, deployment strategy, scalability
plan and to actually develop and deploy their software when
the funding is secured.</p></div><div class="span_4 col"><h3>“Start Small, Think Big”</h3><p>Beat the competition and be the first to put your venture on-line and make it profitable, while your competitors are still trying to find a perfect CTO.
Several members of our team are also co-founders and strategic partners in some of the businesses we helped to launch.
If you are under-funded we are still interested to help you get profitable in record time.</p><p>Most of our clients have very clear idea what kind of software
they want. Define your requirements (<a href="http://en.wikipedia.org/wiki/User_story" target="_blank">User Stories</a>) through our on-line
collaboration software and we will put a cost on them for you.</p></div><div class="span_4 col"><h3>Technical Competence</h3><p>For our technical clients, we are excited to always use the best open-source software tools and practices for the job:
Agile Scrum, Versioning system, Task tracking system, Cloud deployment to Amazon OpsWorks,
Capistrano or Git, Cost/Effort estimation, Business logic and UI logic separation,
Themes for consistent UI, ORM, MySQL or NoSQL, Mongo, Redis, Memcache, RestAPI or
JSON-RPC 2.0, Content Delivery Networks, Queue and resource allocation, 
Composer, Deploy and Monitoring scripting, Unit Tests, Continious Integration Testing, NodeJS and many others.</p></div></div><h2>Project Devleopment Philosophy</h2><img src="{public}images/schemas-process.png{/}" class="atk-jackscrew"/><p>Our core principles are "efficiency", "visibility" and "flexibility". That's why when it comes to Software as a Service
application development, we have a lot of generic modules and an amazing framework to build your project
on. Yet we do respect your intellectual property and any business code we produce for you would therefore be
isolated from the rest of the software assets.</p><h2>Quotations and Finances</h2><img src="{public}images/colubris.png{/}" class="atk-jackscrew"/><p>Our quotation tool may remind you of a shopping list. We put a price on all the features you need inside your
project and you get the final choice of picking which features you want included into the first development
phase. The price you see is the final project price, no hidden cost. </p><h2>Long-term Project Iterations</h2><img src="{public}images/schemas-quote-flow.png{/}" class="atk-jackscrew"/><p>We break down larger projects into iterations, each with separate requirement list.
During our development process project also undergoes internal Q/A to make sure you get a fully-functional
product. Once phase is complete and accepted, it can be installed on production servers. There
is no limit on time between iterations.</p><h2>How to get started?</h2><p>Our project quotation are all no-commitment. You can (and should) compare our quotation with other possible
suppliers and choose the most suitable team for your project. Getting your quote is really simple.
On the next screen you'll need to enter some details about your project and then list all the
requirements.</p><img src="{public}images/quote-screens.png{/}" class="atk-jackscrew"/><h2>Ready?</h2><h3 class="atk-align-center"><a href="http://colubris.agiletech.ie/public/?page=quotation" class="atk-button atk-swatch-emerald">Let's Create</a></h3><p>Alternatively if you would like to meet with us face-to-face and discuss your project requirements,
you can use our regular <a href="{page}contact{/}">contact form</a> or simply give us a call.</p>
