<div id="services" class="section">
    <div class="atk-wrapper atk-size-mega">
        <h5>Home >> Services</h5>

        <br/>

        <div class="row">
            <div class="span_4 col">
                <h3>For Enterpreneurs</h3>
                <p>Books, Meetups and Friends encourage you to pursue your
                dreams. Internet connects us and Software makes impossible
                - possible.</p>

                <p>People from non-technical backgrounds:
                teachers, pilots, accountants, writers often approach us with
                a most brilliant ideas for a Web Software. They just don't
                know how to build it.</p>

                <p>Our job is to equip them with a technical plan - software
                specification, quotation, deployment strategy, scalability
                plan and to actually develop and deploy their software when
                the funding is secured.</p>

            </div>
            <div class="span_4 col">
                <h3>Small and Medium Business</h3>

                <p>Most of our clients have very clear idea what kind of software
                they want. Define your requirements (or <a href="http://en.wikipedia.org/wiki/User_story"
                    target="_blank">User Stories</a>) through our on-line
                collaboration software and we will put a cost on them for you.
                </p>

                <img src="<?public?>images/colubris.png<?/?>" class="atk-jackscrew"/>


            </div>
            <div class="span_4 col">
                <h3>Small and Medium Business</h3>
                <p>We could get your on-line venture up and profitable before your competitors
                could fill out a perfect CTO to join for equity basis. Several members of our
                team are also co-founders and partners in some of the businesses we participated.
                If you are under-funded we are still interested to help.
                </p>
            </div>

        </div>
        <div class="row">
            <div class="span_4 col">
                <h3 class="w-img"><img src="<?public?>images/icon-sign.png<?/?>" />Consultancy</h3>
                <p>We know our industry well. All our software is ready for cloud deployment, supports NoSQL,
                horizontal scaling, refactorable and architected in a best possible way.</p>

                <p>Even if you have your own development team, we can still help
                you with some tools, consulting, infrastructure set-up, performance
                and flexibility software reviews.
                </p>
                
            </div>
            <div class="span_4 col">
                <h3 class="w-img"><img src="<?public?>images/icon-tower.png<?/?>" />Support</h3>
                <p>Our support services are tailored to each client's needs. It is in our best interests to ensure your software’s performance is maintained but is also supported 24/7 by experts on hand, and not outsourced. By providing a quality support service we help our business partners maintain high levels of user satisfaction.</p>
            </div>
            <div class="span_4 col"><img src="<?public?>images/image-services.png<?/?>" class="image" /></div>
        </div>
    </div>
</div>
