<div id="people" class="section">
    <div class="atk-wrapper">
        <h1>People</h1>
        <div class="row">
            <div class="span_4 col">
                <p>Our leadership team is a group of experts in their respective fields working in-house in London, San Francisco and Riga. Furthermore, the team is supported by an expansive international team of developers and designers who can provide an invaluable resource when timing is mission-critical. This international network helps enable us to:</p>

                <ul>
                    <li>Keep your and our costs down</li>
                    <li>Ramp up and bring additional<br/> resources at short notice</li>
                    <li>Provide a comprehensive level of bespoke services </li>

                    <li>Address some of the most complex technological requirements</li>
                </ul>

            </div>
            <div class="span_8 col">
                <div class="atk-media-block atk-swatch-2 atk-jackscrew atk-box">
                <h2>Our Leadership Team</h2>

                <?Team?>
                <div id="<?$_name?>">

                    <div id="ourteam" class="">
                        <div id="row">
                        <div class="span_4 col thumb-grid atk-media">
                            <?bullet?>
                                <a <?selected?>class="selected"<?/?> href="<?$href?>"><i></i><b></b><img src="<?thumb?>temp/team-romans-on.jpg<?/?>" width="65" height="65" alt="" /></a>
                            <?/?>
                        </div>
                        <div class="span_8 col atk-content" id="member-description">
                            <h4><?name?>Unknown Developer<?/?><br /><em><?title?>simply wandered in<?/?></em></h4>
                            <?about?>
                            <p><?descr?>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                                labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                                aliquip ex ea commodo consequat.<?/?></p>
                            <?/?>
                            <!--
                                            <?contacts?>
                                            <div class="contacts">
                                                <img src="<?template?>images/teammember-twitter.png<?/?>" alt="" width="28" height="18" /><a href="#">Twitter</a>
                                                <img src="<?template?>images/teammember-mail.png<?/?>" alt="" width="25" height="18" /><a href="#">E-mail</a>
                                            </div>
                                            <?/?>

                                            <?$flip?>-->
                        </div>
                    </div>
                </div>
                <?/?>
                </div>

            </div>
        </div>
        <blockquote>If you are an expert engineer or designer with experience working in web software, user interfaces, experience in Agile Toolkit and would like to progress your career by joining a dynamic and creative team then please <a href="contact">apply here</a> for our latest vacancies.</blockquote>
    </div>
</div>
