<div class="atk-wrapper">
    <h1>Team</h1>
    <div class="row">
        <div class="span_4 col">
            <p>Our leadership team is a group of experts in their respective fields working in-house in London, San Francisco and Riga. Furthermore, the team is supported by an expansive international team of developers and designers who can provide an invaluable resource when timing is mission-critical. This international network helps enable us to:</p>

            <ul>
                <li>Keep your and our costs down</li>
                <li>Ramp up and bring additional<br/>resources at short notice</li>
                <li>Provide a comprehensive level of bespoke services </li>

                <li>Address some of the most complex technological requirements</li>
            </ul>

        </div>
        <div class="span_8 col">

            {Team}
            <div id="{$_name}" class="team-block atk-cells atk-cells-gutter atk-box atk-swatch-gray">

                <div class="thumb-grid atk-cell">
                    {bullet}
                        <a {selected}class="selected"{/} href="{$href}"><img class="atk-shape-rounded" src="{thumb}temp/team-romans-on.jpg{/}" width="65" height="65" alt="" /></a>
                    {/}
                </div>

                <div class="atk-cell" id="member-description">
                	<h3>{name}Unknown Developer{/}<div class="atk-size-nano">{title}simply wandered in{/}</div></h3>
                    {about}
                    <p>{descr}Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                        aliquip ex ea commodo consequat.{/}</p>
                    {/}
					<!-- {$flip} {$contacts} -->
        		</div>

        	</div>
            {/}
        </div>

    </div>
    <blockquote>If you are an expert engineer or designer with experience working in web software, user interfaces, experience in Agile Toolkit and would like to progress your career by joining a dynamic and creative team then please <a href="contact">apply here</a> for our latest vacancies.</blockquote>
</div>
