doc/dbupdates/*.ok
doc/dbupdates/*.fail
.htaccess
.*swp
*.bak
.DS_Store
config.php
composer.phar
composer.lock
/vendor/*
atk4-addons
upload
nbproject
/.idea/workspace.xml
/.idea
addons
PHPMailer/*
autoconfig/*
autodiscover/*
logs/*
