<h3>Designed for Agile Toolkit</h3>
<p>Icons are an important detail of every website's or web application's UI and that is why we have designed our own icon set for the <a href="http://demo.atk4.com">Agile Toolkit</a> framework. The icon set consists of <b>128 icons in 16x16 pixel size</b> with a multiple background shape choice. Within seconds you are able to create your own icon set that will match your design requirements.</p>
<h3>Live Showcase</h3>
<div class="atk-icon-showcase clearing">
	<div class="col-layout c3">
		<div>
			<h4>Basic</h4>
			<i class="atk-icon atk-icons-nobg atk-icon-basic-plus" title="atk-icon-basic-plus"></i>
			<i class="atk-icon atk-icons-nobg atk-icon-basic-minus" title="atk-icon-basic-minus"></i>
			<i class="atk-icon atk-icons-nobg atk-icon-basic-ex" title="atk-icon-basic-ex"></i>
			<i class="atk-icon atk-icons-nobg atk-icon-basic-question" title="atk-icon-basic-question"></i>
			<i class="atk-icon atk-icons-nobg atk-icon-basic-exclam" title="atk-icon-basic-exclam"></i>
			<i class="atk-icon atk-icons-nobg atk-icon-basic-info" title="atk-icon-basic-info"></i>
			<i class="atk-icon atk-icons-nobg atk-icon-basic-check" title="atk-icon-basic-check"></i>
			<i class="atk-icon atk-icons-nobg atk-icon-basic-cancel" title="atk-icon-basic-cancel"></i>
			<i class="atk-icon atk-icons-nobg atk-icon-basic-user" title="atk-icon-basic-user"></i>
			<i class="atk-icon atk-icons-nobg atk-icon-basic-group" title="atk-icon-basic-group"></i>
			<i class="atk-icon atk-icons-nobg atk-icon-basic-search" title="atk-icon-basic-search"></i>
			<h4>Arrows</h4>
			<i class="atk-icon atk-icons-nobg atk-icon-arrows-left" title="atk-icon-arrows-left"></i>
			<i class="atk-icon atk-icons-nobg atk-icon-arrows-right" title="atk-icon-arrows-right"></i>
			<i class="atk-icon atk-icons-nobg atk-icon-arrows-top" title="atk-icon-arrows-top"></i>
			<i class="atk-icon atk-icons-nobg atk-icon-arrows-bottom" title="atk-icon-arrows-bottom"></i>
			<i class="atk-icon atk-icons-nobg atk-icon-arrows-topright" title="atk-icon-arrows-topright"></i>
			<i class="atk-icon atk-icons-nobg atk-icon-arrows-topleft" title="atk-icon-arrows-topleft"></i>
			<i class="atk-icon atk-icons-nobg atk-icon-arrows-bottomleft" title="atk-icon-arrows-bottomleft"></i>
			<i class="atk-icon atk-icons-nobg atk-icon-arrows-bottomright" title="atk-icon-arrows-bottomright"></i>
			<i class="atk-icon atk-icons-nobg atk-icon-arrows-horizontal" title="atk-icon-arrows-horizontal"></i>
			<i class="atk-icon atk-icons-nobg atk-icon-arrows-vertical" title="atk-icon-arrows-vertical"></i>
			<i class="atk-icon atk-icons-nobg atk-icon-arrows-move" title="atk-icon-arrows-move"></i>
			<i class="atk-icon atk-icons-nobg atk-icon-arrows-scale" title="atk-icon-arrows-scale"></i>
			<i class="atk-icon atk-icons-nobg atk-icon-arrows-moveleft" title="atk-icon-arrows-moveleft"></i>
			<i class="atk-icon atk-icons-nobg atk-icon-arrows-moveright" title="atk-icon-arrows-moveright"></i>
			<i class="atk-icon atk-icons-nobg atk-icon-arrows-movetop" title="atk-icon-arrows-movetop"></i>
			<i class="atk-icon atk-icons-nobg atk-icon-arrows-movebottom" title="atk-icon-arrows-movebottom"></i>
			<i class="atk-icon atk-icons-nobg atk-icon-arrows-left2" title="atk-icon-arrows-left2"></i>
			<i class="atk-icon atk-icons-nobg atk-icon-arrows-right2" title="atk-icon-arrows-right2"></i>
			<i class="atk-icon atk-icons-nobg atk-icon-arrows-top2" title="atk-icon-arrows-top2"></i>
			<i class="atk-icon atk-icons-nobg atk-icon-arrows-bottom2" title="atk-icon-arrows-bottom2"></i>
			<i class="atk-icon atk-icons-nobg atk-icon-arrows-right3" title="atk-icon-arrows-right3"></i>
			<i class="atk-icon atk-icons-nobg atk-icon-arrows-bottom3" title="atk-icon-arrows-bottom3"></i>
			<i class="atk-icon atk-icons-nobg atk-icon-arrows-left3" title="atk-icon-arrows-left3"></i>
			<i class="atk-icon atk-icons-nobg atk-icon-arrows-top3" title="atk-icon-arrows-top3"></i>
			<i class="atk-icon atk-icons-nobg atk-icon-arrows-laquo" title="atk-icon-arrows-laquo"></i>
			<i class="atk-icon atk-icons-nobg atk-icon-arrows-raquo" title="atk-icon-arrows-raquo"></i>
			<h4>Player</h4>
			<i class="atk-icon atk-icons-nobg atk-icon-player-previous" title="atk-icon-player-previous"></i>
			<i class="atk-icon atk-icons-nobg atk-icon-player-rewind" title="atk-icon-player-rewind"></i>
			<i class="atk-icon atk-icons-nobg atk-icon-player-pause" title="atk-icon-player-pause"></i>
			<i class="atk-icon atk-icons-nobg atk-icon-player-stop" title="atk-icon-player-stop"></i>
			<i class="atk-icon atk-icons-nobg atk-icon-player-play" title="atk-icon-player-play"></i>
			<i class="atk-icon atk-icons-nobg atk-icon-player-rec" title="atk-icon-player-rec"></i>
			<i class="atk-icon atk-icons-nobg atk-icon-player-forward" title="atk-icon-player-forward"></i>
			<i class="atk-icon atk-icons-nobg atk-icon-player-next" title="atk-icon-player-next"></i>
			<i class="atk-icon atk-icons-nobg atk-icon-player-eject" title="atk-icon-player-eject"></i>
			<i class="atk-icon atk-icons-nobg atk-icon-player-shuffle" title="atk-icon-player-shuffle"></i>
			<i class="atk-icon atk-icons-nobg atk-icon-player-soundoff" title="atk-icon-player-soundoff"></i>
			<i class="atk-icon atk-icons-nobg atk-icon-player-soundon" title="atk-icon-player-soundon"></i>
			<i class="atk-icon atk-icons-nobg atk-icon-player-soundon2" title="atk-icon-player-soundon2"></i>
		</div>
		<div>
			<h4>Fun</h4>
			<i class="atk-icon atk-icons-nobg atk-icon-fun-chat" title="atk-icon-fun-chat"></i>
			<i class="atk-icon atk-icons-nobg atk-icon-fun-heart" title="atk-icon-fun-heart"></i>
			<i class="atk-icon atk-icons-nobg atk-icon-fun-star" title="atk-icon-fun-star"></i>
			<i class="atk-icon atk-icons-nobg atk-icon-fun-lightning" title="atk-icon-fun-lightning"></i>
			<i class="atk-icon atk-icons-nobg atk-icon-fun-sun" title="atk-icon-fun-sun"></i>
			<i class="atk-icon atk-icons-nobg atk-icon-fun-moon" title="atk-icon-fun-moon"></i>
			<i class="atk-icon atk-icons-nobg atk-icon-fun-cloud" title="atk-icon-fun-cloud"></i>
			<i class="atk-icon atk-icons-nobg atk-icon-fun-thumbsup" title="atk-icon-fun-thumbsup"></i>
			<i class="atk-icon atk-icons-nobg atk-icon-fun-thumbsdown" title="atk-icon-fun-thumbsdown"></i>
			<i class="atk-icon atk-icons-nobg atk-icon-fun-happy" title="atk-icon-fun-happy"></i>
			<i class="atk-icon atk-icons-nobg atk-icon-fun-sad" title="atk-icon-fun-sad"></i>
			<i class="atk-icon atk-icons-nobg atk-icon-fun-drink" title="atk-icon-fun-drink"></i>
			<i class="atk-icon atk-icons-nobg atk-icon-fun-image" title="atk-icon-fun-image"></i>
			<i class="atk-icon atk-icons-nobg atk-icon-fun-music" title="atk-icon-fun-music"></i>
			<i class="atk-icon atk-icons-nobg atk-icon-fun-movie" title="atk-icon-fun-movie"></i>
			<i class="atk-icon atk-icons-nobg atk-icon-fun-cart" title="atk-icon-fun-cart"></i>
			<i class="atk-icon atk-icons-nobg atk-icon-fun-tag" title="atk-icon-fun-tag"></i>
			<i class="atk-icon atk-icons-nobg atk-icon-fun-puzzle" title="atk-icon-fun-puzzle"></i>
			<i class="atk-icon atk-icons-nobg atk-icon-fun-umbrella" title="atk-icon-fun-umbrella"></i>
			<i class="atk-icon atk-icons-nobg atk-icon-fun-tshirt" title="atk-icon-fun-tshirt"></i>
			<i class="atk-icon atk-icons-nobg atk-icon-fun-car" title="atk-icon-fun-car"></i>
			<i class="atk-icon atk-icons-nobg atk-icon-fun-cursor" title="atk-icon-fun-cursor"></i>
			<h4>Technics, tools</h4>
			<i class="atk-icon atk-icons-nobg atk-icon-tech-power" title="atk-icon-tech-power"></i>
			<i class="atk-icon atk-icons-nobg atk-icon-tech-pulse" title="atk-icon-tech-pulse"></i>
			<i class="atk-icon atk-icons-nobg atk-icon-tech-bulb" title="atk-icon-tech-bulb"></i>
			<i class="atk-icon atk-icons-nobg atk-icon-tech-videocam" title="atk-icon-tech-videocam"></i>
			<i class="atk-icon atk-icons-nobg atk-icon-tech-tv" title="atk-icon-tech-tv"></i>
			<i class="atk-icon atk-icons-nobg atk-icon-tech-cellphone" title="atk-icon-tech-cellphone"></i>
			<i class="atk-icon atk-icons-nobg atk-icon-tech-phone" title="atk-icon-tech-phone"></i>
			<i class="atk-icon atk-icons-nobg atk-icon-tech-headphones" title="atk-icon-tech-headphones"></i>
			<i class="atk-icon atk-icons-nobg atk-icon-tech-clock" title="atk-icon-tech-clock"></i>
			<i class="atk-icon atk-icons-nobg atk-icon-tech-printer" title="atk-icon-tech-printer"></i>
			<i class="atk-icon atk-icons-nobg atk-icon-tech-microphone" title="atk-icon-tech-microphone"></i>
			<i class="atk-icon atk-icons-nobg atk-icon-tech-lock" title="atk-icon-tech-lock"></i>
			<i class="atk-icon atk-icons-nobg atk-icon-tech-unlock" title="atk-icon-tech-unlock"></i>
			<i class="atk-icon atk-icons-nobg atk-icon-tech-gear" title="atk-icon-tech-gear"></i>
			<i class="atk-icon atk-icons-nobg atk-icon-tech-wrench" title="atk-icon-tech-wrench"></i>
			<i class="atk-icon atk-icons-nobg atk-icon-tech-scissors" title="atk-icon-tech-scissors"></i>
			<i class="atk-icon atk-icons-nobg atk-icon-tech-trash" title="atk-icon-tech-trash"></i>
			<h4>Navigation</h4>
			<i class="atk-icon atk-icons-nobg atk-icon-nav-home" title="atk-icon-nav-home"></i>
			<i class="atk-icon atk-icons-nobg atk-icon-nav-mail" title="atk-icon-nav-mail"></i>
			<i class="atk-icon atk-icons-nobg atk-icon-nav-sitemap" title="atk-icon-nav-sitemap"></i>
			<i class="atk-icon atk-icons-nobg atk-icon-nav-link" title="atk-icon-nav-link"></i>
			<i class="atk-icon atk-icons-nobg atk-icon-nav-restore" title="atk-icon-nav-restore"></i>
			<i class="atk-icon atk-icons-nobg atk-icon-nav-switches" title="atk-icon-nav-switches"></i>
			<i class="atk-icon atk-icons-nobg atk-icon-nav-at" title="atk-icon-nav-at"></i>
			<i class="atk-icon atk-icons-nobg atk-icon-nav-rss" title="atk-icon-nav-rss"></i>
			<i class="atk-icon atk-icons-nobg atk-icon-nav-planet" title="atk-icon-nav-planet"></i>
		</div>
		<div>
			<h4>Text</h4>
			<i class="atk-icon atk-icons-nobg atk-icon-text-font" title="atk-icon-text-font"></i>
			<i class="atk-icon atk-icons-nobg atk-icon-text-paragraph" title="atk-icon-text-paragraph"></i>
			<i class="atk-icon atk-icons-nobg atk-icon-text-unitlist" title="atk-icon-text-unitlist"></i>
			<i class="atk-icon atk-icons-nobg atk-icon-text-underline" title="atk-icon-text-underline"></i>
			<i class="atk-icon atk-icons-nobg atk-icon-text-bold" title="atk-icon-text-bold"></i>
			<i class="atk-icon atk-icons-nobg atk-icon-text-italic" title="atk-icon-text-italic"></i>
			<i class="atk-icon atk-icons-nobg atk-icon-text-left" title="atk-icon-text-left"></i>
			<i class="atk-icon atk-icons-nobg atk-icon-text-center" title="atk-icon-text-center"></i>
			<i class="atk-icon atk-icons-nobg atk-icon-text-right" title="atk-icon-text-right"></i>
			<i class="atk-icon atk-icons-nobg atk-icon-text-justify" title="atk-icon-text-justify"></i>
			<i class="atk-icon atk-icons-nobg atk-icon-text-quoteopen" title="atk-icon-text-quoteopen"></i>
			<i class="atk-icon atk-icons-nobg atk-icon-text-quoteclose" title="atk-icon-text-quoteclose"></i>
			<h4>Office</h4>
			<i class="atk-icon atk-icons-nobg atk-icon-office-file" title="atk-icon-office-file"></i>
			<i class="atk-icon atk-icons-nobg atk-icon-office-folder" title="atk-icon-office-folder"></i>
			<i class="atk-icon atk-icons-nobg atk-icon-office-calendar" title="atk-icon-office-calendar"></i>
			<i class="atk-icon atk-icons-nobg atk-icon-office-calendar2" title="atk-icon-office-calendar2"></i>
			<i class="atk-icon atk-icons-nobg atk-icon-office-calculator" title="atk-icon-office-calculator"></i>
			<i class="atk-icon atk-icons-nobg atk-icon-office-pin" title="atk-icon-office-pin"></i>
			<i class="atk-icon atk-icons-nobg atk-icon-office-attach" title="atk-icon-office-attach"></i>
			<i class="atk-icon atk-icons-nobg atk-icon-office-key" title="atk-icon-office-key"></i>
			<i class="atk-icon atk-icons-nobg atk-icon-office-flag" title="atk-icon-office-flag"></i>
			<i class="atk-icon atk-icons-nobg atk-icon-office-pencil" title="atk-icon-office-pencil"></i>
			<i class="atk-icon atk-icons-nobg atk-icon-office-chart" title="atk-icon-office-chart"></i>
			<i class="atk-icon atk-icons-nobg atk-icon-office-briefcase" title="atk-icon-office-briefcase"></i>
			<i class="atk-icon atk-icons-nobg atk-icon-office-badge" title="atk-icon-office-badge"></i>
			<i class="atk-icon atk-icons-nobg atk-icon-office-filledfile" title="atk-icon-office-filledfile"></i>
			<h4>Currencies</h4>
			<i class="atk-icon atk-icons-nobg atk-icon-currency-euro" title="atk-icon-currency-euro"></i>
			<i class="atk-icon atk-icons-nobg atk-icon-currency-dollar" title="atk-icon-currency-dollar"></i>
			<i class="atk-icon atk-icons-nobg atk-icon-currency-yen" title="atk-icon-currency-yen"></i>
			<i class="atk-icon atk-icons-nobg atk-icon-currency-rouble" title="atk-icon-currency-rouble"></i>
		</div>
	</div>
	<div class="atk-icon-showcase-choser">
		<label>Choose icon background color:</label>
		<select id='bgchoice'>
			<option selected="selected">nobg</option>
			<option>red</option>
			<option>orange</option>
			<option>blue</option>
			<option>violet</option>
			<option>pink</option>
		</select>
	</div>
	<p class="float-right"><i class="atk-icon atk-icons-nobg atk-icon-fun-cursor"></i>Mouse over icons to get their class names.</p>
</div>

<div class="download-icons box bluenoised-box">
	<div>
		<h4>Download:</h4>
		<div class="icon-32-wdesc"><img src="/templates/jui/images/icon-package.png" alt=""><a
		href="/templates/jui/content/blogs/128x16x16/agile-toolkit-icons.zip">Agile Toolkit Icon Set</a><br/><span
		class="comment">.PSD, HTML &amp; CSS files, Demos</span></div>
	</div>
</div>

<h3>Using the icon set in Agile Toolkit</h3>
<p>
Agile Toolkit is a Web UI and back-end library. It brings a number of visual objects into PHP5 such as Buttons, Forms, Tables, Menus, Trees etc. It focuses on development flexibility and helps web developers write less code. </p>

<p>Our icon-sets are already integrated with Agile Toolkit. In order to use the icon set, you can use "Icon" class in your code.</p>
<code>
$p-&gt;add('Icon')<br/>
&nbsp;&nbsp;-&gt;setColor('orange')<br/>
&nbsp;&nbsp;-&gt;set('basic-search');<br/>
</code>
<p>We also have a <a target="_blank" href="http://demo.atk4.com/demo.html?t=34">demonstration</a>.</p>

<h3>Create your own set of icons</h3>
<p>To create your own icon set read the detailed guide below, it can surely help developers and Photoshop beginners:</p>
<ol>
	<li>
		<p>Open up <b>agile-toolkit-128x16x16.psd</b> from the ZIP package. You will notice that there are several icon sets
		prepared with different background shapes; circles, squares, rounded squares etc.</p>
		<img src="/templates/jui/content/blogs/128x16x16/shapes.png" alt="" class="post-image" />
	</li>
	<li>
		<p>Each icon set has its own layer group, so choose the most suitable set for you, then open the <b>BG SHAPE</b> layer folder, select one of the shape layers and apply blending options you want.</p>
		<img src="/templates/jui/content/blogs/128x16x16/blending.png" alt="" class="post-image"  />
		<div class="comment">Outer glow, outer stroke, drop shadows will not work, since icon's overall size will be out of 16x16 boundries.</div>
	</li>
	<li>
		<p>Copy the layer style and paste it to all the shape layers within a folder.</p>
		<img src="/templates/jui/content/blogs/128x16x16/select-all.png" alt="" class="post-image"  />
	</li>
	<li>
		<p>The icon set is designed and ready to be exported. Hide the background layer so the whole document is transparent, afterwards open the Save For Web dialog and select the slice with your icon set, next – open Slice Options and name the slice. Save it in your project's folder.</p>
		<img src="/templates/jui/content/blogs/128x16x16/slice-save.png" alt="" class="post-image"  />
	</li>
	<li>
		<p>Copy <b>atk-icons.css</b> file to your project's folder and specify it in <b>&lt;head&gt;</b> tag of your HTML file:</p>
		<code>&lt;link src="atk-icons.css" rel="stylesheet" type="text/css" /&gt;</code>
	</li>
	<li><p>Open your website's .css file and insert this line of code:</p>
		<code>.atk-icons-red {background-image:url(atk-icons-red.png);}</code>
		<div class="comment">This example works on condition that all the files are in the same directory, otherwise you will
		have to specify a more detailed path.</div>
	</li>
	<li>
		<p>Create your first icon by placing the following HTML code:</p>
		<code>&lt;i class="atk-icon atk-icons-red atk-icon-basic-search"&gt;&lt;/i&gt;</code>
		<div class="comment">As you can see we have 3 classes here:<br/><i>atk-icon</i> is the basic class, <i>atk-icons-red</i> class defines the colour, <i>atk-icon-basic-search</i> class defines the particular icon.</div>
	</li>
	<li>
		<p>Voilà, here is your icon – <i class="atk-icon atk-icons-red atk-icon-basic-search"></i><a href="http://www.google.com" target="_blank">Google it!</a></p>
		<p>If the icon needs to be placed on the right, use additional class '<i>atk-icon-right</i>'<i class="atk-icon-basic-exclam atk-icon atk-icons-red atk-icon-right"></i>.</p>
	
	</li>
</ol>




<script type="text/javascript">
$(document).ready(function(){
	
	$('#bgchoice option:first-child').attr("selected","selected");
	
	var nowsel = $('#bgchoice option:selected');

	$('#bgchoice').change(function(){
	
		var sel = $(this).find("option:selected");
		
		$('.atk-icon-showcase .atk-icon').removeClass("atk-icons-"+$(nowsel).text()).addClass("atk-icons-"+$(sel).text());
		
		nowsel = sel;
		

	});

});
</script>
