.atk-menu > li a{
    font-weight: normal!important;
    font-size: 18px;
}
body.page-team .team-block .atk-media{font-size:0;line-height:0;width:207px}
body.page-team .team-block .atk-media a{display:inline-block;margin:2px}
body.page-portfolio .isotope-item{width:300px}
body.page-portfolio .project{margin:.809rem}
body.page-portfolio .project .thumbnail{font-size:0;line-height:0;margin-bottom:.809rem;}
body.page-portfolio .project .thumbnail img{width:220px;height:152px;}

.tag_item {margin:0 0 0 4px;cursor:pointer;color: #00f;}
.tag_item:hover {color: red;}
.show_label {float:right;margin:0px 6px 0 0;}

.page-contact .social a.twitter_share{
    display: block;
    width: 46px;
    height: 46px;
    background: url("../images/facebook_twitter_icons.png");
    background-size: auto 100%;
    background-position: 46px 0;
    float: left;
}
.page-contact .social a.facebook_share{
    display: block;
    width: 46px;
    height: 46px;
    background: url("../images/facebook_twitter_icons.png");
    background-size: auto 100%;
    background-position: 0 0;
    float: left;
}