/* --------------------------------------------------------------------
	Default Layout
-------------------------------------------------------------------- */
body{color:#326162;font-size:16px;}
.atk-wrapper {
    min-width: 980px;
    width: 980px;
    padding-left: 0;
    padding-right: 0;
    overflow:hidden;
}
.left {float:left;}
.right {float:right;}
.cc {clear:both;height:0;width:0;}

h1 {font-size: 48px;font-weight: normal;line-height: 1.1;margin-bottom: 0.7em;}
p, blockquote {font-size: 16px;line-height: 24px;}
ul, ol {font-size: 16px;line-height: 24px;}
ul li {list-style-type: none;background: url(../images/bullet.png) no-repeat 0px 0.5em;padding-left: 20px;}

.atk-menu {margin-top:10px;}
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {background:none;}
.atk-menu-horizontal ul li.ui-state-active {border-width:0;}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {background:none;border:0;}
.atk-menu-horizontal ul li.ui-state-active + li {border-width:0;}
.ui-state-default {text-shadow:0 0 0 rgba(0, 0, 0, 0);-webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0);box-shadow: 0 0 0 rgba(0, 0, 0, 0);}
.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited{font-size:24px;color:#326162;font-weight:bold;}
.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited{font-size:24px;color:#5BBE77;font-weight:bold;}
.atk-menu-horizontal ul li:last-child{border-right:0;}

/* Team */
#people {background:#fff;/* background:url(../images/texture-cork.png); *//* text-shadow:0 1px 0 #fff2e0; */}
#people #team-block h2, #people #team-block h3 {margin-top:0;line-height:1;}
#people #ourteam {border:1px solid #e5e5e5;/* background:url(../images/bg-teammember.jpg) no-repeat right top; */overflow:hidden;height:270px;padding:20px 20px 10px 20px;position:relative;}
#people #ourteam>div {float:left;}
#people #ourteam #team-members {width:280px;height:110px;margin-right:0px;/* padding:20px 0 20px 0px; */}
#people #ourteam #team-members .thumb-grid>a {float:left;width:65px;height:70px;padding:5px;font-size:0;line-height:0;position:relative;margin:0 15px 10px 0;}
#people #ourteam #team-members .thumb-grid>a>img {position:relative;z-index:3;}
#people #ourteam #team-members .thumb-grid>a>i, #people #ourteam #team-members .thumb-grid>a>b {position:absolute;width:89px;height:94px;top:-3px;left:-7px;}
#people #ourteam #team-members .thumb-grid>a>i {background:url(../images/teammember-photo.png) no-repeat;z-index:1;}
#people #ourteam #team-members .thumb-grid>a>b {background:url(../images/teammember-photo-sel.png) no-repeat;z-index:2;display:none;}
#people #ourteam #team-members .thumb-grid>a.selected {top:-1px;}
#people #ourteam #team-members .thumb-grid>a.selected i {display:none;}
#people #ourteam #team-members .thumb-grid>a.selected b {display:block;}
#people #ourteam #member-description {color:#666;/* width:295px;padding:35px 35px 35px 20px;margin:10px 0 0 0; */width:300px;margin-left:10px;}
#people #ourteam #member-description h4 em {display:block;font-size:80%;margin-top:0.2em;}
#people #ourteam #member-description p {font-size:90%;}
#people #ourteam #member-description .contacts {margin-top:1.5em;}
#people #ourteam #member-description .contacts span {border-left:1px solid #e5e5e5;margin:0 0 0 1em;padding-left:1em;}
#people #ourteam #member-description .contacts span:first-child {padding-left:0;margin-left:0;border-left:none;}
#people #team-block>div {width:270px;}
#people #team-block>div:first-child {width:670px;}

.box.outline {border: 1px solid #e5e5e5;}
.box {padding: 20px;}

.ui-button {background-color:#A62E27;background-repeat: repeat-x;color:#FFF;line-height: 1.6;font-size:16px;}

.w-img {position:relative;padding:0 0 0 30px;}
h3.w-img img, h4.w-img img {position: absolute;left: -16px;top: -8px;}


.project-grid>div>a {
    float: left;
    text-align: center;
    margin: 0 10px 16px 0;
    width: 232px;
    text-decoration: none;
}
.project-grid>div>a>i {
    display: block;
    width: 226px;
    height: 156px;
    padding: 4px;
    background: #eee;
    background: -webkit-gradient(linear, left top, left bottom, from(#f5f5f5), to(#eee));
    background: -moz-linear-gradient(top, #f5f5f5, #eee);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f5f5f5", endColorstr="#eeeeee");
    border: 1px solid #ccc;
    box-shadow: 0 1px 2px rgba(0,0,0,0.1);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.3);
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.1);
}

.project-grid>div>a>span {
    display: block;
    height: 2.4em;
    margin-top: 0.4em;
    color: #777;
    font-size: 90%;
}
.project-grid>div>a>i>b {
    position: absolute;
    width: 226px;
    height: 156px;
    z-index: 2;
    background: url(../images/project-thumb-hover.png) no-repeat;
    display: none;
}
.project-url {
    border: 1px solid #ccc;
    -moz-border-radius: 10px 0 10px 0;
    font-weight: bold;
    padding: 1em;
    margin-bottom: 2em;
    display: inline-block;
}

#portfolio h1 {
    float:left;
}
.tags {
    position:absolute;
    top:250px;
    left:1260px;
    text-align: left;
    width:235px;
}
.tags h5 {
    margin-bottom:0;
}
.tags ul {
    margin-left:0;
    list-style-type:none;
}
.tags ul li {
    /*float:left;*/
    margin:0 10px 0 0;
    padding:0;
    background:none;
}



/* Start: Recommended Isotope styles */

/**** Isotope Filtering ****/

.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

/**** Isotope CSS3 transitions ****/

.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
      -ms-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:      -o-transform, opacity;
          transition-property:         transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
      -ms-transition-duration: 0s;
       -o-transition-duration: 0s;
          transition-duration: 0s;
}

/* End: Recommended Isotope styles */



/* disable CSS transitions for containers with infinite scrolling*/
.isotope.infinite-scrolling {
  -webkit-transition: none;
     -moz-transition: none;
      -ms-transition: none;
       -o-transition: none;
          transition: none;
}