<h1 class="wimg"><img src="<?template?>images/heading-contact.png<?/?>" height="40" width="142" alt="Contact" /></h1>
<div class="col-layout c2">
	<div>
		<?editable?>contact-note
		<p>At Agile Technologies we enjoy hearing from you. Weather you have questions, need help or just want free consultation on your business idea, please contact us. </p>	
		<?/?>
		<div class="box bluenoised-box contact-form">
			<div>
				<h2>Send us a message</h2>
				<?$Contact?>
			</div>
		</div>
	</div>
	<div>
        <div class="icon-32-wdesc" id="address"><a href="http://maps.google.co.uk/maps?q=52A+Berwick+Street,+London&hl=en&sll=51.523455,-0.013775&sspn=0.009172,0.021415&oq=52a+Berwick+St&t=h&hnear=52A+Berwick+St,+London+W1F+8SL,+United+Kingdom&z=16" alt="map"><img src="<?template?>images/icon-map.png<?/?>" alt="" height="32" width="32" />Agile Technologies Ltd</a>.<br/>52a Berwick St<br>London W1F 8SL<br/>United Kingdom</div>
		<div class="hr hr-small"></div>
		<div class="icon-32-wdesc" id="address"><img src="<?template?>images/icon-map.png<?/?>" alt="" height="32" width="32" />Agile Technologies Ltd.<br/>1st Floor, 61 Saint Assams Park<br/>Raheny<br/>Dublin 5, Ireland</div>
		<div class="hr hr-small"></div>
		<?editable?>contact-addresses
		<h4>Call us</h4>
		+353 (0) 1 443 3256<br/>
		<h4>or send us an e-mail</h4>
		<a href="mailto:info@agiletech.ie">info@agiletech.ie</a>
		<?/?>
		<div class="hr hr-small"></div>
		<div class="icon-32-wdesc"><img src="<?template?>images/icon-nda.png<?/?>" alt="" height="32" width="32" /><a href="/files/Agile_NDA.pdf">NDA Download</a><br/><span class="comment">Non-disclosure agreement</span></div>
	</div>
</div>
