<h1>Trust Your Designer</h1>

<img src="http://t1.gstatic.com/images?q=tbn:ANd9GcSExo_8viUGWwtJEvbH0bhBuTI5s3VCETk4xObP90PEWhVJKMsGmA" style="float: right"/>
<p>
I always find it interesting when a client hires a designer because of their expertise but then decides to nitpick every decision they make. I can assure you that professional designers have got your best interest in mind. They know what they’re doing and they all want to create something truly incredible for you.

</p>
<p>
The point is this: Trust your designer. Please. If your designer tells you that something is a bad idea, listen. Chances are that the designer is probably right.
</p>
<p><a href="http://onwired.com/blog/please-trust-your-designer/">Jon, OnWired.com</a></p>

<p>
To all Clients....Your designer knows a few things that can greatly impact your business.
</p>
<p><a href="http://www.skilledgraphics.com/blog/135-trust-your-designer.html">SkilledGraphics</a></p>

<p>
Unless something seems to be majorly wrong, it’s best to follow the plan put in place by your designer.
</p><p>
After all, you’re paying them good money to take care of all of this for you, right?  Sit back and let them do what it is that a pro web designer does best—design.  This almost always equates to less stress for all involved and a better outcome in the end.

</p><p><a href="http://www.seokingblog.com/2010/12/23/trust-your-web-designer/">George Chaney, CEO at "SEO King"</a></p>

<p>
So you’ve started up a small business and you need some branding, some corporate identity. You want a logo designed, some business cards, maybe even a website theme. You want to hire a designer and can provide them the specs they’ll ask for.
</p><p>
Question is, after that, can you manage not to interfere, not to tell them that you could get it cheaper if your nephew did it. Most designers know what they’re doing.

</p><p><a href="http://www.logodesignworks.com/blog/what-is-graphic-design-and-why-you-should-trust-your-designer">Logo DesignWorks</a></p>


<p>
A professional web designer who has built hundreds of websites will have certainly developed a knack for knowing what just looks good to your visitors’ eyes.  And that’s an important part of the process—good design and visual appeal.  But there’s more to it than basic design.
</p><p>
Things like typography and color selection aren’t just incidental to your website—they are a vital component of your online marketability.  Seriously, many times it’s subliminal, but getting these aspects just perfect makes a huge difference in the perception of your site, how visitors interact, and ultimately, how well the site performs.  Trust your pro here.
</p><p>
And naturally, your design guru is also going to have a good deal of knowledge under his or her belt when it comes to knowing exactly what will work for the web.  Remember, there are significant differences from web design and traditional design for print.  With web design, it’s necessary to consider so many additional factors like screen resolutions, browser platforms, usability, load time, and beyond.
</p><p>
This is technical stuff.  When your designer insists that that scheme of sepia and gold will be impossible for half of your visitors to read—well, let’s just say they know what they’re saying.  Again, please trust your pro here.
</p><p>
The Bottom Line: So, if your designer refuses to use Comic Sans as the main font on your new website, rest assured that they only have your best interests in mind—they’re protecting your image and credibility (just Google the term Comic Sans if you really want to understand how they’re protecting you).  Just think, the less professional designer might just say “okay” even when they know it’s going to result in an amateur-looking website.
</p><p><a href="http://www.sleeplessmedia.com/blog/?p=198">Sleepless Media</a></p>


