<!DOCTYPE html>
<html lang="en">
    <head>
		<title><?page_title?>Agile Toolkit Technologies ™<?/?></title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<link rel="shortcut icon" href="<?template?>images/favicon.ico<?/?>" type="image/x-icon"  />
		<link rel="stylesheet" type="text/css" href="<?template?>css/jquery-ui.css<?/?>" />
		<link rel="stylesheet" type="text/css" href="<?template?>css/atk-main.css<?/?>" />
		<link rel="stylesheet" type="text/css" href="<?template?>css/atk-custom.css<?/?>" />
		<link rel="stylesheet" type="text/css" href="<?template?>css/lightbox.css<?/?>" />
		<?$js_include?>
		<!--[if IE 8]>
			<link rel="stylesheet" type="text/css" href="<?template?>css/ie8.css<?/?>"/>
			<script type="text/javascript" src="<?template?>css/ie8.js<?/?>"/>
		<![endif]-->
		<script type="text/javascript">
			$(function(){
				<?$document_ready?>
			});
		</script>
		<script src="<?template?>js/lightbox.js<?/?>"></script>
		<script src="<?template?>js/jquery.scrollTo-1.4.2-min.js<?/?>"></script>
		<script src="<?template?>js/jquery.cycle.js<?/?>"></script>
		<script>
			$(function(){
				$('#header a,.top').click(function(e){
                    e.preventDefault();
                    var dest=$(this).attr('href');
                    if($(this).is('.logolink,.top'))dest='0';
                    $(window).scrollTo(dest,'slow',{offset: -80});
                });
                
			    $('#portfolio .hero .slides').cycle({
			        fx:      'fade',
			        timeout:  0,
			        next:    '.hero-next',
			        pager:   '.hero-navigation',
			        pagerAnchorBuilder: pagerFactory
			    });
			
			    function pagerFactory(idx, slide) {
			        var s = idx > 10 ? ' style="display:none"' : '';
			        return '<li'+s+'><a href="#">'+(idx+1)+'</a></li>';
			    };
                
                
                
			});
		</script>
	</head>
	<body id="<?$pagename?>">
		<div id="header">
			<div class="atk-wrapper">
				<div class="atk-row">
					<div class="span2 logo"><?logo?><a class="logolink" href="<?page?>/<?/?>"><img src="<?template?>images/logo.png<?/?>" /></a><?/logo?></div>
					<div class="span10 navigation">
							<a title="About" href="#people">People</a><a title="Services" href="#services">Services</a><a title="Services" href="#approach">Approach</a><a title="Portfolio" href="#portfolio">Portfolio</a><a title="Contact" href="#contact">Contact</a>
					</div>
<!--
					<div class="span2 contact">
						<a title="Contact" href="#contact"></a>
					</div>
-->
				</div>
			</div>
			<div class="shadow"></div>
		</div>
		<div id="content">
			<div id="about" class="section">
				<div class="atk-wrapper">
<!-- 					<h1>Elexu Technologies is a web and mobile software company.</h1> -->
					<div class="atk-row">
						<div class="span6">
							<h1>We are an <strong>IPTV</strong>, <br /><strong>web</strong> and <strong>mobile</strong> software company.</h1>
<!-- 							<h1>Elexu Technologies is <br />a <strong>web</strong> and <strong>mobile<br /> software</strong> company.</h1> -->
							<p>Elexu Technologies is a creative software development and consultancy company based in the heart of Soho, London and is a wholly-owned subsidiary within the Elexu Portfolio group of companies. Our specialisation is in interactive Mobile-to-TV applications, from interactive games through to internet TV formats which engage their audiences via real-time interactions to produce a more realistic, responsive and entertaining means of communication between content producers and content viewers.</p>
<!-- 							<p>We also have the capabilities to design and develop mobile applications and websites outside of the Mobile-to-TV and media-entertainment arena.  For customers who want a sophisticated but cost-effective website, mobile app or any other bespoke software programme, we can deliver on time and on budget.</p> -->

						</div>
						<div class="span6" style="position:relative;">

							<img src="<?template?>temp/test.png<?/?>" style="position:absolute;top:20px;right:0;" />
<!-- 							<img src="http://reowatch.com/img/monitor_ipad_iphone.png" width="475" style="margin-top:3em" /> -->
						</div>
					</div>
				</div>
			</div>
			<div id="people" class="section">
				<div class="atk-wrapper">
					<h1>People</h1>
					<div class="atk-row atk-block">
						<div class="span4">
						<p>Our leadership team is a group of experts in their respective fields working in-house in London, San Francisco and Riga. Furthermore, the team is supported by an expansive international team of developers and designers who can provide an invaluable resource when timing is mission-critical. This international network helps enable us to:</p>

							<ul>
								<li>Keep your and our costs down</li>
								<li>Ramp up and bring additional<br/> resources at short notice</li>
								<li>Provide a comprehensive level of bespoke services </li>

								<li>Address some of the most complex technological requirements</li>
							</ul>

						</div>
						<div class="span8">
							<h2>Our Leadership Team</h2>
						
							<?Team?>
							<div id="<?$_name?>">
	
								<div id="ourteam">
									<span></span>
									<div id="team-members">
										<div class="thumb-grid">
										   <?bullet?>
											<a <?selected?>class="selected"<?/?> href="<?$href?>"><i></i><b></b><img src="<?thumb?>temp/team-romans-on.jpg<?/?>" width="65" height="65" alt="" /></a>
										   <?/?>
										</div>
									</div>
									<div id="member-description">
										<h4><?name?>Unknown Developer<?/?><br /><em><?title?>simply wandered in<?/?></em></h4>
										<?about?>
										<p><?descr?>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
										labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
										aliquip ex ea commodo consequat.<?/?></p>
										<?/?>
						<!--
										<?contacts?>
										<div class="contacts">
											<img src="<?template?>images/teammember-twitter.png<?/?>" alt="" width="28" height="18" /><a href="#">Twitter</a>
											<img src="<?template?>images/teammember-mail.png<?/?>" alt="" width="25" height="18" /><a href="#">E-mail</a>
										</div>
										<?/?>
						
										<?$flip?>-->
									</div>
								</div>
							</div>
							<?/?>
							<br/>
							<p>We have a wealth of experience and expertise on board, from a diversity of cultures and backgrounds. Our closely knit team of engineers and designers are all very passionate about the work they do, being Artisans in code and design.</p>
						
						</div>
					</div>
							<blockquote>If you are an expert engineer or designer with experience working in interactive TV, Mobile-to-TV, interactive games or other interactive entertainment/media formats and would like to progress your career by joining a dynamic and creative team then please <a href="#contact">apply here</a> for our latest vacancies.</blockquote>
				</div>
			</div>
			<div id="services" class="section">
				<div class="atk-wrapper">
					<h1>Services</h1>
					<div class="atk-row">
						<div class="span4">
							<h3 class="w-img"><img src="<?template?>images/icon-display.png<?/?>" />Web Development</h3>
							<p>What differentiates our development services from other high calibre development houses is the exceptional scalability and robustness of our technologies. You can be confident that whatever we design and build for you will be built with longevity and consistent performance in mind.</p>

						</div>
						<div class="span4">
							<h3 class="w-img"><img src="<?template?>images/icon-gears.png<?/?>" />App Development</h3>
							<p>We cater for a wide range of App development for both Mobile and Tablet including iPhone and Android, utilising HTML5 as a universal language that works across all the platforms. Our area of expertise lies in the complex field of Mobile-to-TV interactive applications for Internet Protocol Television (IPTV). </p>

						</div>
						<div class="span4">
									<h3 class="w-img"><img src="<?template?>images/icon-beaker.png<?/?>" />Web Design</h3>
									<p>A creative team of designers add the polish and chrome to our structured code to present the most up-to-date and cutting edge look and feel to whatever platform, application or programme we construct. Our designers are passionate about their craft and will work closely with you to ensure the design meets your requirements.</p>
						</div>
						
					</div>
					<div class="atk-row">
						<div class="span4">
							<h3 class="w-img"><img src="<?template?>images/icon-sign.png<?/?>" />Consultancy</h3>
							<p>Many corporations and content providers have ambitious projects which require a high degree of expert advice and specification. One of our key assets for these clients is our consultancy service for maintaining and optimizing network, security, server and storage infrastructures.</p>
						</div>
						<div class="span4">
							<h3 class="w-img"><img src="<?template?>images/icon-tower.png<?/?>" />Support</h3>
							<p>Our support services are tailored to each client's needs. It is in our best interests to ensure your software’s performance is maintained but is also supported 24/7 by experts on hand, and not outsourced. By providing a quality support service we help our business partners maintain high levels of user satisfaction.</p>
						</div>
						<div class="span4"><img src="<?template?>content/image-services.png<?/?>" class="image" /></div>
					</div>
				</div>			
			</div>
			<div id="approach" class="section">

				<div class="atk-wrapper">
				<h1>Approach</h1>
					<div class="atk-row">
						<div class="span4">
					<h3 class="w-img"><img src="<?template?>images/icon-hat.png<?/?>" />Consultation</h3>
					<p>Elexu Technologies takes a highly consultative approach to working with clients. This investment in our clients pays huge dividends for all parties involved. Through many years of delivering successful web, mobile and apps development projects, we know this approach consistently produces outstanding results for both our clients and ourselves.</p>
						</div>
						<div class="span4">&nbsp;<img src="<?template?>content/image-approach.png<?/?>" class="image" />
						</div>
						<div class="span4">
					<h3 class="w-img"><img src="<?template?>images/icon-board.png<?/?>" />Project Management</h3>
					<p>We excel at providing a robust project management process to ensure projects are delivered on time and within budget. In addition to using Agile methodologies to drive the development stream (sprints, scrums and iterative releases), we also employ leading task management and communication software to ensure all resources are coordinated in their activities, deliverables and timelines.</p>
						</div>
					</div>
					<div class="atk-row">
						<div class="span4">
					<h3 class="w-img"><img src="<?template?>images/icon-coffee.png<?/?>" />Communication</h3>
					<p>Clients of Elexu Technologies benefit from having a dedicated relationship manager. We pride ourselves on timely and transparent communication and aim to build enduring partnerships with all our clients as opposed to a transactional based relationships. We fundamentally believe a partnership approach is the foundation of our success.</p>
						</div>
						<div class="span4">
						&nbsp;
						</div>
						<div class="span4">
					<h3 class="w-img"><img src="<?template?>images/icon-pulse.png<?/?>" />Support</h3>
					<p>Our relationship with clients doesn’t end simply with the delivery of software. We invest in aftercare so our clients can rest assured that their projects are always up and running (99.9% availability). For mission critical applications we can provide our partners with 24/7 expert support or support on a pay per task basis.</p>
						</div>

					</div>


				</div>
			</div>
			<div id="portfolio" class="section">
				<div class="atk-wrapper">
				
					<h1>Portfolio</h1>
<!-- 					<p class="punchline">Curabitur lobortis sapien iaculis. Nunc a eros ut arcu viverra non justo.</p> -->
					
					
					<div class="hero atk-block">
						<div class="slides">
							<div class="slide">
								<div class="atk-row">
									<div class="span8">
										<a href="<?template?>content/project-heineken.jpg<?/?>" rel="lightbox" class="mask"><span class="bg-zoom"></span><img src="<?template?>content/project-heineken.png<?/?>" /></a>
									</div>
									<div class="span4">
										<div class="description">
											<h3>Web, Social, Mobile &amp; IPTV Expertise</h3>
											<p> We are continuously breaking the barriers in terms of technological applications, delivering projects ahead of both expectations in design, performance and time. </p>
										</div>
										<div class="testimonial text-gray">
											<span class="quote">&#8220;</span>
											<p class="small">
												We are excitedly exploring the opportunities of tomorrow, by discovering and implementing new paradigm shifts in technology applications, as well as ensuring our clients are ready to take full advantage of the future mainstream trends, should they choose to do so. 
											</p>
										</div>
									</div>
								</div>
							</div>
							<div class="slide">
								<div class="atk-row">
									<div class="span8">
										<a href="<?template?>content/project-igame-full.jpg<?/?>" rel="lightbox" class="mask"><span class="bg-zoom"></span><img src="<?template?>content/project-igame.jpg<?/?>" /></a>
									</div>
									<div class="span4">
										<div class="description">
											<h3>Web, Social, Mobile &amp; IPTV Expertise</h3>
											<p> We are continuously breaking the barriers in terms of technological applications, delivering projects ahead of both expectations in design, performance and time. </p>
										</div>
										<div class="testimonial text-gray">
											<span class="quote">&#8220;</span>
											<p class="small">
												We are excitedly exploring the opportunities of tomorrow, by discovering and implementing new paradigm shifts in technology applications, as well as ensuring our clients are ready to take full advantage of the future mainstream trends, should they choose to do so. 
											</p>
										</div>



									</div>
								</div>
							</div>
							<div class="slide">
								<div class="atk-row">
									<div class="span8">
										<a href="<?template?>content/project-elexu-full.jpg<?/?>" rel="lightbox" class="mask"><span class="bg-zoom"></span><img src="<?template?>content/project-elexu.jpg<?/?>" /></a>
									</div>
									<div class="span4">

										<div class="description">
											<h3>Web, Social, Mobile &amp; IPTV Expertise</h3>
											<p> We are continuously breaking the barriers in terms of technological applications, delivering projects ahead of both expectations in design, performance and time. </p>
										</div>
										<div class="testimonial text-gray">
											<span class="quote">&#8220;</span>
											<p class="small">
												We are excitedly exploring the opportunities of tomorrow, by discovering and implementing new paradigm shifts in technology applications, as well as ensuring our clients are ready to take full advantage of the future mainstream trends, should they choose to do so. 
											</p>
										</div>


									</div>
								</div>
							</div>
							<div class="slide">
								<div class="atk-row">
									<div class="span8">
										<a href="<?template?>content/project-smbo-full.jpg<?/?>" rel="lightbox" class="mask"><span class="bg-zoom"></span><img src="<?template?>content/project-smbo.jpg<?/?>" /></a>
									</div>
									<div class="span4">


										<div class="description">
											<h3>Web, Social, Mobile &amp; IPTV Expertise</h3>
											<p> We are continuously breaking the barriers in terms of technological applications, delivering projects ahead of both expectations in design, performance and time. </p>
										</div>
										<div class="testimonial text-gray">
											<span class="quote">&#8220;</span>
											<p class="small">
												We are excitedly exploring the opportunities of tomorrow, by discovering and implementing new paradigm shifts in technology applications, as well as ensuring our clients are ready to take full advantage of the future mainstream trends, should they choose to do so. 
											</p>
										</div>










										
									</div>
								</div>
							</div>
						</div>
						<ul class="hero-navigation"></ul>
						<a href="#" class="hero-next"></a>
					</div>
					<div class="logos atk-row">
						<div class="span2"><img src="<?template?>images/logos/vm.png<?/?>"/></div>
						<div class="span2"><img src="<?template?>images/logos/zy.png<?/?>"/></div>
						<div class="span2"><img src="<?template?>images/logos/ps.png<?/?>"/></div>
						<div class="span2"><img src="<?template?>images/logos/he.png<?/?>"/></div>
						<div class="span2"><img src="<?template?>images/logos/bb.png<?/?>"/></div>
						<div class="span2"><img src="<?template?>images/logos/eircom.png<?/?>"/></div>
					</div>
					
				</div>
			</div>
			<div id="contact" class="section">
				<div class="atk-wrapper">
					<h1>Contact</h1>
					<div class="atk-row">
						<div class="span8">
							<div class="box outline">
							<p class="about">For enquiries about our services or to arrange a consultation or obtain a quote please contact us via our comment form.</p>
							<?$Contact?>
							</div>
						</div>
						<div class="span4">
							<h3 class="w-img"><img src="<?template?>images/icon-pin.png<?/?>" />Our Offices</h3><!-- <?template?>images/icon-map.png<?/?> -->
					        <p class="address">Elexu Technologies Ltd</a>.<br/>52a Berwick St<br>London W1F 8SL<br/>United Kingdom</p>
							<div class="atk-block small">
							<!--<iframe width="300" height="200" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=52A+Berwick+Street,+London+W1F+8SL,+United+Kingdom&amp;aq=0&amp;oq=52a+Berwick+St+London+W1F+8SL&amp;sll=51.515546,-0.13624&amp;sspn=0.007651,0.011362&amp;t=m&amp;ie=UTF8&amp;hq=&amp;hnear=52A+Berwick+St,+London+W1F+8SL,+United+Kingdom&amp;z=14&amp;ll=51.515546,-0.13624&amp;output=embed"></iframe>-->
							</div>
							<div class="hr hr-small"></div>
							<h4 class="w-img"><img src="<?template?>images/icon-phone.png<?/?>" /><em>Call us at</em> +44 7511 283906</h4>
<!--
							<h4>or send us an e-mail</h4>
							<a href="mailto:info@agiletech.ie">info@agiletech.ie</a>
-->
<!--
							<div class="hr hr-small"></div>
							<div class="icon-32-wdesc"><img src="<?template?>images/icon-nda.png<?/?>" alt="" height="32" width="32" /><a href="/files/Elexu_NDA.pdf">Sample NDA Download</a><br/><span class="text-gray small">Non-disclosure agreement</span></div>
-->
						</div>
					</div>
				</div>
			</div>
			<div id="footer" class="section">
				<div class="atk-wrapper">
					<a href="#" class="top"></a>
					<div class="atk-row">
						<div class="span4">Copyright © 2012</div>
						<div class="span8 links"><a href="#">Terms & Conditions</a><span class="atk-sep">|</span><a href="#">Privacy Policy</a></div>
					</div>
				</div>
			</div>
		</div>






<div style="display:none">
		<div id="atk-layout" class="atk-wrapper">
			<div id="content"><?$Content?></div>
			<div id="atk-footer-guard"></div>
		</div>
		<?Footer?>
		<div id="footer" class="atk-wrapper">
			<div id="atk-version"><b><?name?>Agile Toolkit™<?/?></b><br/><i><?$version?></i></div>
			<?footer_text?>
			This system is implemented using <a href="http://agiletoolkit.org/">Agile Toolkit</a>. &copy; 1999–2012
			Agile Technologies. <a href="http://agiletoolkit.org/about/license">See License</a>
			<?/?>
		</div>
		<?/?>
		<div id="atk-growl-holder" class="atk-growl"></div>
</div>
	</body>
</html>
