<h1>AppsFuel</h1>

<div class="span12">
    <span class="project-url">Visit website:
        <a target="_blank"  href="http://appsfuel.com/about/">appsfuel.com</a>
    </span>
</div>

<div class="span_4 atk-move-right">
    <div class="atk-media-block atk-box atk-swatch-5">

        <div class="atk-content atk-valign-middle">
            <h3>In a nutshell</h3>

            <p>
                AppsFuel is a mobile apps publisher, which makes it possible to deploy HTML5 free and
                paid apps across multiple platforms and providers.
            </p>
            <p>
                We have worked with AppsFuel to architect the initial concept of their software on top
                of Agile Toolkit.
            </p>
            <ul>
                <li>
                    Agile Toolkit is used extensively in this awesome platform. While our
                    team have helped "Dada Entertainment" - company behind AppsFuel initially,
                    they have managed to move development in-house and also have became one of
                    the most active contributors for Agile Toolkit: https://github.com/appsFuel/
                </li>

                <li>
                    To find out more about AppsFuel - visit:
                    <a href="http://www.youtube.com/watch?v=40i5x160RiI" target="_blank">
                        AppsFuel - The Open Mobile Revolution
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="span5 atk-box">
    <iframe class="span12" width="420" height="315" src="//www.youtube.com/embed/CxaLBSwfWt0?rel=0" frameborder="0" allowfullscreen></iframe>
</div>

<div class="image clearing span8">
    <div class="atk-box">
        <img src="<?template?>images/portfolio/big/appsfuel1.jpg<?/?>" alt="Apps Fuel" />
    </div>
    <div class="atk-box">
        <img src="<?template?>images/portfolio/big/appsfuel2.jpg<?/?>" alt="Apps Fuel" />
    </div>
    <div class="atk-box">
        <img src="<?template?>images/portfolio/big/appsfuel3.jpg<?/?>" alt="Apps Fuel" />
    </div>
</div>
<div class="hr"></div>