<h1>DomainClub.com - ICANN-Accredited Registrar</h1>

<div class="span_12">
    <span class="project-url">Visit website:
        <a target="_blank"  href="http://www.domainclub.com">www.domainclub.com</a>
    </span>
</div>

<div class="span_4 atk-move-right">
    <div class="atk-media-block atk-box atk-swatch-5">

        <div class="atk-content atk-valign-middle">
            <h3>In a nutshell</h3>

            <p>
                We were approached by US company to build fully featured ICCAN-Accredited Registrar. Accreditation puts a lot of burden on the solution in order to remain compliant yet come with great price for .com domains.
            </p>

            <p>
                Agile delivered modern and easy to use portal for bulk domain purchase and administration.
            </p>

        </div>
    </div>
</div>

<div class="image clearing span_8">
    <div class="atk-box">
        <img class="span_12" src="<?template?>images/portfolio/big/case-domainclub.jpg<?/?>" alt="DomainClub" />
    </div>
</div>

<div class="hr"></div>