<h1>Elexu</h1>

<div class="span12">
    <span class="project-url">Visit website:
        <a target="_blank"  href="http://www.elexu.com/">www.elexu.com</a>
    </span>
</div>

<div class="span_4 atk-move-right">
    <div class="atk-media-block atk-box atk-swatch-5">
        <div class="atk-content atk-valign-middle">
            <h3>In a nutshell</h3>
            <p>
                Elexu develops a suite of on-line tools to make On-line Videos and Televisions more interactive.
            </p>
            <p><a href="http://elexu.com" target="_blank">http://elexu.com</a>. <a href="http://interactive.elexu.com" target="_blank">http://interactive.elexu.com</a>.</p>
            <p>
                Our team have participated in the initial prototype development then provided support
                while internal team took over the project development.
            </p>
            <ul>
                <li>
                    Elexu heavily relies on Agile Toolkit framework and have made a number of contributions to the framework.
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="image clearing span8">
    <div class="atk-box">
        <img src="<?template?>images/portfolio/big/case-elexu-profile.png<?/?>" alt="elexu" />
    </div>
</div>
<div class="hr"></div>
