<h1>Elexu</h1>
<div>
    <span class="project-url"><!-- <i class="icon icon-fav-smbo"></i> -->Visit website: <a target="_blank"  href="http://www.elexu.com/">www.elexu.com</a></span>
    <p>Elexu develops a suite of on-line tools to make On-line Videos and Televisions more interactive.</p>
    <p><a href="http://elexu.com" target="_blank">http://elexu.com</a>. <a href="http://interactive.elexu.com" target="_blank">http://interactive.elexu.com</a>.</p>
    <p> Our team have participated in the initial prototype development then provided support while internal team took over the project development.</p>
    <div class="image clearing">
        <p>
            <img src="<?template?>images/portfolio/big/case-elexu-profile.png<?/?>" alt="elexu" />
        </p>
        <p>Elexu heavily relies on Agile Toolkit framework and have made a number of contributions to the framework.</p>

    </div>

</div>
<div class="hr"></div>
