<h1>Epicenter.ie - Irish Software Show Portal</h1>

<div class="span12">
    <span class="project-url">Visit website:
        <a target="_blank"  href="http://epicenter.ie">epicenter.ie</a>
    </span>
</div>

<div class="span_4 atk-move-right">
    <div class="atk-media-block atk-box atk-swatch-5">

        <div class="atk-content atk-valign-middle">
            <h3>In a nutshell</h3>

            <p>
                Owners of Irish Developer News Portal approached Agile to build unique
                website for 4 days conference about software excellence.</p>

            <p>
                Agile worked closely with client to decide on logo, draw icons and design
                that would be eye catching.
            </p>

            <p>Epicenter is standart compilant, easy manageable from backend and
                Google friendly. It containsvarious sections such as dynamic
                AJAX event and speaker section (with twitter feed available for each speaker),
                booking with Paypal and full-featured pages.
            </p>

        </div>
    </div>
</div>

<div class="image clearing span8">
    <div class="atk-box">
        <div class="image-comment">Whirl on the front page.</div>
        <img src="<?template?>images/portfolio/big/case-epicenter.jpg<?/?>" alt="Epicenter" />
    </div>
    <div class="atk-box">
        <div class="image-comment">Different looking inner page.</div>
        <img src="<?template?>images/portfolio/big/case-epicenter-inner.jpg<?/?>" alt="Epicenter" />
    </div>
</div>

<div class="hr"></div>
