<h1>Gradpool.ie - Graduate Job Portal</h1>

<div class="span12">
    <span class="project-url"><!-- <i class="icon icon-fav-smbo"></i> -->Visit website:
        <a target="_blank"  href="http://www.gradpool.ie">www.gradpool.ie</a>
    </span>
</div>

<div class="span_4 atk-move-right">
    <div class="atk-media-block atk-box atk-swatch-5">

        <div class="atk-content atk-valign-middle">
            <h3>In a nutshell</h3>

            <p>New start-up with unique idea of graduate and employee portal approached Agile to help them achieve result quickly.</p>

            <p>Over the month time we built full-featured solution with search, graduate profiles, billing with credits and employee job posting.</p>
        </div>
    </div>
</div>


<div class="image clearing span8">
    <div class="image-wrap atk-box">
        <img src="<?template?>images/portfolio/big/case-gradpool.jpg<?/?>" alt="Gradpool" />
    </div>
</div>

<div class="hr"></div>
