<h1>IrishDev.com - Irish Software News Portal</h1>
<span class="project-url"><!-- <i class="icon icon-fav-smbo"></i> -->Visit website:
    <a target="_blank"  href="http://www.irishdev.com">www.irishdev.com</a>
</span>
<p style="margin-top: 0px; margin-right: 0px; margin-bottom: 0.7em; margin-left: 0px; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px; line-height: 1.8; ">IrishDev.com portal decided to change technology it was built on for better security and easier&#160;management&#160;in future. IrishDev owners approached Agile to develop everything from&#160;scratch.</p>
<p style="margin-top: 0px; margin-right: 0px; margin-bottom: 0.7em; margin-left: 0px; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px; line-height: 1.8; ">Agile delivered cutting edge&#160;portal with News, Jobs and Events sections. Portal is built for companies to advertise their services and news in Irish technology sector</p>
<div class="image clearing">
    <div class="image-wrap">
        <img src="<?template?>images/portfolio/big/case-irishdev.jpg<?/?>" alt="IrishDev News Portal" />
    </div>
</div>

<div class="hr"></div>
