<h1>IrishDev.com - Irish Software News Portal</h1>

<div class="span_12">
    <span class="project-url">Visit website:
        <a target="_blank"  href="http://www.irishdev.com">www.irishdev.com</a>
    </span>
</div>

<div class="span_4 atk-move-right">
    <div class="atk-media-block atk-box atk-swatch-5">

        <div class="atk-content atk-valign-middle">
            <h3>In a nutshell</h3>

            <p>
                IrishDev.com portal decided to change technology it was built on for better
                security and easier management in future. IrishDev owners approached
                Agile to develop everything from scratch.
            </p>

            <p>
                Agile delivered cutting edge portal with News, Jobs and Events sections.
                Portal is built for companies to advertise their services and news in Irish
                technology sector
            </p>

        </div>
    </div>
</div>

<div class="image clearing span_8">
    <div class="atk-box">
        <img class="span_12" src="{template}images/portfolio/big/case-irishdev.jpg{/}" alt="IrishDev News Portal" />
    </div>
</div>
<div class="hr"></div>
