<h1>Job Tracker</h1>

<!--<div class="span12">
    <span class="project-url">Visit website:
        <a target="_blank"  href="http://www.linkhere.com/">www.linkhere.com</a>
    </span>
</div>-->

<div class="image clearing span8">
    <div class="atk-box">
        <img src="<?template?>images/portfolio/big/jobtracker.jpg<?/?>" alt="Job Tracker" />
    </div>
    <div class="atk-box">
        <img src="<?template?>images/portfolio/big/jobtracker2.jpg<?/?>" alt="Job Tracker" />
    </div>
</div>
<div class="hr"></div>
