<h1>LaMaisonDuTriskel.eu - Bed and Breakfast Website</h1>

<div class="span12">
    <span class="project-url">Visit website:
        <a target="_blank"  href="http://www.lamaisondutriskel.eu">www.lamaisondutriskel.eu</a>
    </span>
</div>

<div class="span_4 atk-move-right">
    <div class="atk-media-block atk-box atk-swatch-5">

        <div class="atk-content atk-valign-middle">
            <h3>In a nutshell</h3>

            <p>
                If you are a lucky owner of Bed and Breakfast who happened to have Agile
                team on your website development. How fancy can your website become?
            </p>

            <p>
                La Triskel - Bed and Breakfast in France came to Agile while looking for
                a very to-the-point and clean website for their small business.
            </p>

            <p>
                Agile delivered full solution with international interface, gallery, blog,
                content management, booking page and optimisation for search engines.
                We worked closely with client to deliver the most suitable logo and design.
            </p>


            <ul>
                <li>
                    With help of our content advisor, we created with very "Precise" content
                    for the pages. Nothing is extra, just the right amount of graphics and
                    pleasant to read.
                </li>
                <li>
                    We based the website on a WordPress with a custom theme. Our client have
                    ability to manage content themselves.
                </li>
                <li>
                    We used effects and jQuery UI for some JavaScript controls - time picking,
                    gallery, and maps
                </li>
                <li>
                    Content comes in 2 languages and have search
                </li>
            </ul>

        </div>
    </div>
</div>

<div class="image clearing span8">
    <div class="atk-box">
        <img src="<?template?>images/portfolio/big/case-triskel.jpg<?/?>" alt="La Maison Du Triskel website" />
    </div>
</div>
<div class="hr"></div>
