<h1>LimsABC</h1>
<div>
    <span class="project-url"><!-- <i class="icon icon-fav-smbo"></i> -->Visit website:
        <a target="_blank"  href="http://www.linkhere.com/">www.linkhere.com</a>
    </span>
    <p style="margin-top: 0px; margin-right: 0px; margin-bottom: 0.7em; margin-left: 0px; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px; line-height: 1.8; ">
        some text.
    </p>
    <p style="margin-top: 0px; margin-right: 0px; margin-bottom: 0.7em; margin-left: 0px; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px; line-height: 1.8; ">
        some text..
    </p>
    <div class="image clearing">
        <p>
            <img src="<?template?>images/portfolio/big/lims.jpg<?/?>" alt="LimsABC" />
        </p>
        <p>some text.
        </p>
        <p>
            <img src="<?template?>images/portfolio/big/lims2.jpg<?/?>" alt="LimsABC" />
        </p>
        <p>some text.
        </p>

    </div>

</div>
<div class="hr"></div>
