<h1>LimsABC</h1>

<!--<div class="span_12">
    <span class="project-url">Visit website:
        <a target="_blank"  href="http://www.linkhere.com/">LimsABC</a>
    </span>
</div>-->

<div class="image clearing span_8">
    <div class="atk-box">
        <img class="span_12" src="<?template?>images/portfolio/big/lims.jpg<?/?>" alt="LimsABC" />
    </div>
    <div class="atk-box">
        <img class="span_12" src="<?template?>images/portfolio/big/lims2.jpg<?/?>" alt="LimsABC" />
    </div>
</div>
<div class="hr"></div>
