<h1>NextAction.ie - Productivity Web Software</h1>

<div class="span_12">
    <span class="project-url">Visit website:
        <a target="_blank"  href="http://www.nextaction.ie">www.nextaction.ie</a>
    </span>
</div>

<div class="span_4 atk-move-right">
    <div class="atk-media-block atk-box atk-swatch-5">

        <div class="atk-content atk-valign-middle">
            <h3>In a nutshell</h3>

            <p>
                Searching through existing Getting Things Done (GTD), Agile found that
                there is a niche in the market for easy GTD web tool. We built and started
                to use NextAction.ie as internal product.
            </p>

            <p>
                Please <a href="http://www.agiletech.ie/contact/" title="Contact Us">contact us</a>
                if you are interested in product demo.
            </p>

        </div>
    </div>
</div>

<div class="image clearing span_8">
    <div class="atk-box">
        <img class="span_12" src="{template}images/portfolio/big/case-nextaction.jpg{/}" alt="NextAction" />
    </div>
</div>
<div class="hr"></div>
