<h1>Obelisk Mobile Communication Websites</h1>

<div class="span12">
    <span class="project-url">Visit website:
        <a target="_blank"  href="http://www.obelisk.com">www.obelisk.com</a>
    </span>
</div>

<div class="span_4 atk-move-right">
    <div class="atk-media-block atk-box atk-swatch-5">

        <div class="atk-content atk-valign-middle">
            <h3>In a nutshell</h3>

            <p>
                Previously known as Obelisk Telecoms, Obelisk Networks division
                delivers solutions to the telecommunications and utility sectors
                both in Ireland and internationally.
            </p>

            <p>
                They required three websites to be built for each of their business
                sections that would have similar design and built in CMS.
            </p>

            <p>
                Agile delivered 3 websites easy manageable and with great design:
            </p>

            <ul>
                <li>
                    <a href="http://www.obelisk.com" title="The Obelisk Group">www.obelisk.com</a> - The Obelisk Group main website
                </li>
                <li>
                    <a href="http://www.highpoint.ie/" title="HighPoint">www.highpoint.ie</a> -&#160;Wireless Infrastructure provider
                </li>
                <li>
                    <a href="http://www.obeliskenergy.ie/" title="Obelisk Energy">www.obeliskenergy.ie</a> - high quality energy solutions website
                </li>
            </ul>

        </div>
    </div>
</div>

<div class="image clearing span8">
    <div class="atk-box">
        <img src="<?template?>images/portfolio/big/case-obelisk.jpg<?/?>" alt="Obeslik Networks" />
    </div>
</div>
<div class="hr"></div>
