<h1>Realex Developer's Resource Centre</h1>

<div class="span_4 atk-move-right">
    <div class="atk-media-block atk-box atk-swatch-5">

        <div class="atk-content atk-valign-middle">
            <h3>In a nutshell</h3>

            <p>
                Realex Payments is the largest payment gateway providers in Ireland and also
                trading actively in UK and Europe. RealexPayments have approached our company
                asking us to build Developer Center - a software which they could store
                necessary documentation for their developers.
            </p>

            <ul>
                <li>
                    Fully integrated with Realex main theme.
                </li>
                <li>
                    Contains some custom features and integration with forum.
                </li>
                <li>
                    Have undergone full security testing
                </li>
            </ul>

            <a href="<?public?>pdf/smbo_case_study.pdf<?/?>"><span class="icon-down-circled-1"></span>Download Case Study PDF</a>
        </div>
    </div>
</div>

<div>
    <span class="project-url"><!-- <i class="icon icon-fav-smbo"></i> -->Visit website:
        <a target="_blank"  href="http://resourcecentre.realexpayments.com">resourcecentre.realexpayments.com</a>
    </span>

    <div class="image clearing">
        <div class="image-wrap">
            <img src="<?template?>images/portfolio/big/case-realex.jpg<?/?>" alt="Realex Payments" />
        </div>
    </div>
</div>
<div class="hr"></div>
