<h1>SalesJotter.com - Sales Optimization software</h1>

<div class="span_12">
    <span class="project-url">Visit website:
        <a target="_blank"  href="http://www.salesjotter.com">www.salesjotter.com</a>
    </span>
</div>

<div class="span_4 atk-move-right">
    <div class="atk-media-block atk-box atk-swatch-5">

        <div class="atk-content atk-valign-middle">
            <h3>In a nutshell</h3>

            <p>
                Sales optimization software that provides analytics and sales indicators
                to help your team close&#160;more sales. We worked closely with Furzee
                Digital in the development of this product from concept to live site.
            </p>


            <p>
                <em>“I highly recommend Gita and Agiletech.ie as a web app development
                    partner for start ups. They have a fast and affordable approach to
                    web app design and development. They produce robust and stylish apps
                    that will make you proud and your customers happy.” Owen Cooney,
                    ProductFitter.com</em>
            </p>


        </div>
    </div>
</div>

<div class="image clearing span_8">
    <div class="atk-box">
        <div class="image-comment">Front page</div>
        <img class="span_12" src="{template}images/portfolio/big/case-salesjotter.jpg{/}" alt="SalesJotter front page" />
    </div>
    <div class="atk-box">
        <div class="image-comment">Dashboard</div>
        <img class="span_12" src="{template}images/portfolio/big/case-salesjotter2.jpg{/}" alt="SalesJotter dashboard" />
    </div>
</div>
<div class="hr"></div>
