<h1>Transpoco.com - Fleet Management Web Interface</h1>

<div class="span_12">
    <span class="project-url">Visit website:
        <a target="_blank"  href="http://www.transpoco.com">www.transpoco.com</a>
    </span>
</div>

<div class="span_4 atk-move-right">
    <div class="atk-media-block atk-box atk-swatch-5">

        <div class="atk-content atk-valign-middle">
            <h3>In a nutshell</h3>

            <p>
                Transpoco tracks vehicles for companies, organisations and government
                bodies.&#160;They required front CRM updated and backend mapping solution
                improvement. Agile improved existing software to give better and faster
                reports, reviews and easy management.
            </p>

        </div>
    </div>
    <div class="atk-media-block atk-box atk-swatch-5">

        <div class="atk-content atk-valign-middle">
            <h3>What Client Says?</h3>
            <p>
                <em>“To tell the truth, I didn’t expect such a good result. Agile
                    Technologies managed to optimise our existing Web 2.0 system,
                    and now it works much faster than before. It’s not so easy to
                    find a company that does their work well. But they are doing their
                    job PERFECTLY”</em>
            </p>

            <i class="atk-move-right">Barry Cronin, Transpoco.com</i>

        </div>
    </div>
</div>

<div class="image clearing span_8">
    <div class="atk-box">
        <img class="span_12" src="<?template?>images/portfolio/big/case-transpoco.jpg<?/?>" alt="Transpoco front page" />
    </div>
</div>
<div class="hr"></div>
