<h1>Travelshake.com - Travel and Tourism Portal</h1>

<div class="span_12">
    <span class="project-url">Visit website:
        <a target="_blank"  href="http://www.travelshake.com">www.travelshake.com</a>
    </span>
</div>


<div class="span_4 atk-move-right">
    <div class="atk-media-block atk-box atk-swatch-5">

        <div class="atk-content atk-valign-middle">
            <h3>In a nutshell</h3>

            <p>
                Travelshake.com required new portal to be built from scratch - more social
                and engaging website that would help their customers get more business.
            </p>


            <p>
                We developed portal with&#160;videos, twitters,&#160;Facebook&#160;and
                latest offers. Users can explore their area through Google Maps or search
                from tag clouds.
            </p>

        </div>
    </div>
    <div class="atk-media-block atk-box atk-swatch-5">

        <div class="atk-content atk-valign-middle">
            <h3>What Client Says?</h3>
            <p>
                <em>“Romans, Gita and the team at Agile have delivered us a great website,
                    on time and with little fuss. They found a solution to every problem we
                    encountered during the build and were always efficient, professional and
                    expert in their approach to the project. They are great technology
                    partners to have.”</em>
            </p>

            <i class="atk-move-right">Laughlin Rigby, Travelshake.com</i>

        </div>
    </div>
</div>

<div class="image clearing span_8">
    <div class="atk-box">
        <div class="image-comment">Profile page</div>
        <img class="span_12" src="{template}images/portfolio/big/case-travelshake.jpg{/}" alt="Travelshake" />
    </div>
</div>
<div class="hr"></div>
