<h1>TunePresto.com - World's first video music maker</h1>

<div class="span_12">
    <span class="project-url">Visit website:
        <a target="_blank"  href="http://www.tunepresto.com">www.tunepresto.com</a>
    </span>
</div>

<div class="span_4 atk-move-right">
    <div class="atk-media-block atk-box atk-swatch-5">

        <div class="atk-content atk-valign-middle">
            <h3>In a nutshell</h3>

            <p>
                Tunepresto, the World's first video music maker, needed a
                payments and licensing solution for selling their desktop
                products online.
            </p>

            <p>
                This included functionality to make coupons and discounts,
                accept payment in two currencies, and integrate a license
                key solution for licensing the products.
            </p>

        </div>
    </div>
</div>

<div class="image clearing span_8">
    <div class="atk-box">
        <div class="image-comment">Front page</div>
        <img class="span_12" src="{template}images/portfolio/big/case-presto.jpg{/}" alt="Tunepresto" />
    </div>
</div>
<div class="hr"></div>
