<h1>Ven</h1>
<div>
    <span class="project-url"><!-- <i class="icon icon-fav-smbo"></i> -->Visit website:
        <a target="_blank"  href="http://vencurrency.com/about">vencurrency.com</a>
    </span>
    <p>HubCulture (<a href="http://en.wikipedia.org/wiki/Hub_Culture" target="_blank">http://en.wikipedia.org/wiki/Hub_Culture</a> ) is a social network operating digital currency - Ven. Our team have helped</p>
    <p>HubCulture to build a completely new platform for the digital currency on top of scalable cloud infrastructure.</p>
    <ul>
        <li>Fully architected solution by our team with a number of key suggestions running on Agile Toolkit, MongoDB and Amazon Linux instances.</li>
        <li>Using cloud technology and APIs to integrate Java, JavaScript and PHP as they sense for scalable and effective deployment.</li>
    </ul>
    <p>include link to Ven.vc as well as hubculture.com</p>
    <div class="image clearing">
        <p><img src="<?template?>images/portfolio/big/ven.jpg<?/?>" alt="Ven" /></p>
        <p><img src="<?template?>images/portfolio/big/ven2.jpg<?/?>" alt="Ven" /></p>
        <p><img src="<?template?>images/portfolio/big/ven3.jpg<?/?>" alt="Ven" /></p>
    </div>
</div>
<div class="hr"></div>
