<h1>Ven</h1>

<div class="span_12">
    <span class="project-url">Visit website:
        <a target="_blank"  href="http://vencurrency.com/about">vencurrency.com</a>
    </span>
</div>

<div class="span_4 atk-move-right">
    <div class="atk-media-block atk-box atk-swatch-5">

        <div class="atk-content atk-valign-middle">
            <h3>In a nutshell</h3>

            <p>
                HubCulture (<a href="http://en.wikipedia.org/wiki/Hub_Culture" target="_blank">http://en.wikipedia.org/wiki/Hub_Culture</a> )
                is a social network operating digital currency - Ven. Our team have helped HubCulture to build a completely new platform for the digital currency on top
                of scalable cloud infrastructure.
            </p>

            <ul>
                <li>
                    Fully architected solution by our team with a number of key suggestions
                    running on Agile Toolkit, MongoDB and Amazon Linux instances.
                </li>
                <li>Using cloud technology and APIs to integrate Java, JavaScript and PHP
                    as they sense for scalable and effective deployment.
                </li>
                <li><a href="http://ven.vc/about" target="_blank">ven.vc</a></li>
                <li><a href="http://hubculture.com" target="_blank">hubculture.com</a></li>
            </ul>

        </div>
    </div>
</div>

<div class="image clearing span_8">
    <div class="atk-box">
        <img class="span_12" src="{template}images/portfolio/big/ven.jpg{/}" alt="Ven" />
    </div>
    <div class="atk-box">
        <img class="span_12" src="{template}images/portfolio/big/ven2.jpg{/}" alt="Ven" />
    </div>
    <div class="atk-box">
        <img class="span_12" src="{template}images/portfolio/big/ven3.jpg{/}" alt="Ven" />
    </div>
</div>
<div class="hr"></div>
