<h1>The X Factor</h1>

<!--<div class="span_12">
    <span class="project-url">Visit website:
        <a target="_blank"  href="http://appsfuel.com/about/">appsfuel.com</a>
    </span>
</div>-->

<div class="span_4 atk-move-right">
    <div class="atk-media-block atk-box atk-swatch-5">

        <div class="atk-content atk-valign-middle">
            <h3>In a nutshell</h3>

            <p>
                Our team have architected, developed and designed a fully-functional game
                for The X Factor brand called Fame Game.
            </p>

            <ul>
                <li>
                    Using Agile Approach and weekly meetings we were able to implement all
                    of the complex logic of an Web-RPG game within 6 week timeline.
                </li>
                <li>
                    Reacting to our client feedback we have made a very critical change
                    in the middle of the development by severely improving gameplay,
                    look and logic of the game.
                </li>
                <li>
                    A whole web game was implemented as AJAX application running on Agile
                    Toolkit and controlled through a flexible administration system.
                </li>
                <li>
                    The whole project have received a custom look and feel making it
                    follow The X Factor guidelines perfectly.
                </li>
                <li>
                    The game was fully integrated with Facebook allowing you to compete
                    against your friends.
                </li>
            </ul>

            <p>
                If you would like to get more information about this project, please use contact form.
            </p>

        </div>
    </div>
</div>

<div class="image clearing span_8">
    <div class="atk-box">
        <img class="span_12" src="<?template?>images/portfolio/big/xfactor.jpg<?/?>" alt="The X Factor" />
    </div>
    <div class="atk-box">
        <img class="span_12" src="<?template?>images/portfolio/big/xfactor2.jpg<?/?>" alt="The X Factor" />
    </div>
    <div class="atk-box">
        <img class="span_12" src="<?template?>images/portfolio/big/xfactor3.jpg<?/?>" alt="The X Factor" />
    </div>
</div>
<div class="hr"></div>