<h1>X-Factor</h1>
<div>
    <p style="margin-top: 0px; margin-right: 0px; margin-bottom: 0.7em; margin-left: 0px; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px; line-height: 1.8; ">
        some text.
    </p>
    <p style="margin-top: 0px; margin-right: 0px; margin-bottom: 0.7em; margin-left: 0px; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px; line-height: 1.8; ">
        some text..
    </p>
    <div class="image clearing">
        <p>
            <img src="<?template?>images/portfolio/big/xfactor.jpg<?/?>" alt="X-Factor" />
        </p>
        <p>some text.
        </p>
        <p>
            <img src="<?template?>images/portfolio/big/xfactor2.jpg<?/?>" alt="X-Factor" />
        </p>
        <p>some text.
        </p>
        <p>
            <img src="<?template?>images/portfolio/big/xfactor3.jpg<?/?>" alt="X-Factor" />
        </p>
        <p>some text.
        </p>

    </div>

</div>
<div class="hr"></div>
