<h1>The X Factor</h1>
<div>
    <p>Our team have architected, developed and designed a fully-functional game for The X Factor brand called Fame Game.</p>
    <ul>
        <li>Using Agile Approach and weekly meetings we were able to implement all of the complex logic of an Web-RPG game within 6 week timeline.</li>
        <li>Reacting to our client feedback we have made a very critical change in the middle of the development by severely improving gameplay, look and logic of the game.</li>
        <li>A whole web game was implemented as AJAX application running on Agile Toolkit and controlled through a flexible administration system.</li>
        <li>The whole project have received a custom look and feel making it follow The X Factor guidelines perfectly.</li>
        <li>The game was fully integrated with Facebook allowing you to compete against your friends.</li>
    </ul>
    <p>If you would like to get more information about this project, please use contact form.</p>
    <div class="image clearing">
        <p><img src="<?template?>images/portfolio/big/xfactor.jpg<?/?>" alt="X-Factor" /></p>
        <p><img src="<?template?>images/portfolio/big/xfactor2.jpg<?/?>" alt="X-Factor" /></p>
        <p><img src="<?template?>images/portfolio/big/xfactor3.jpg<?/?>" alt="X-Factor" /></p>
    </div>
</div>
<div class="hr"></div>