<div id="approach" class="section">

    <div class="atk-wrapper">
        <h1>Approach</h1>
        <div class="atk-row">
            <div class="span4">
                <h3 class="w-img"><img src="<?template?>images/icon-hat.png<?/?>" />Consultation</h3>
                <p>Text here</p>
            </div>
            <div class="span4">&nbsp;<img src="<?template?>images/image-approach.png<?/?>" class="image" />
            </div>
            <div class="span4">
                <h3 class="w-img"><img src="<?template?>images/icon-board.png<?/?>" />Project Management</h3>
                <p>We excel at providing a robust project management process to ensure projects are delivered on time and within budget. In addition to using Agile methodologies to drive the development stream (sprints, scrums and iterative releases), we also employ leading task management and communication software to ensure all resources are coordinated in their activities, deliverables and timelines.</p>
            </div>
        </div>
        <div class="atk-row">
            <div class="span4">
                <h3 class="w-img"><img src="<?template?>images/icon-coffee.png<?/?>" />Communication</h3>
                <p>Clients of Agile Toolkit benefit from having a dedicated relationship manager. We pride ourselves on timely and transparent communication and aim to build enduring partnerships with all our clients as opposed to a transactional based relationships. We fundamentally believe a partnership approach is the foundation of our success.</p>
            </div>
            <div class="span4">
                &nbsp;
            </div>
            <div class="span4">
                <h3 class="w-img"><img src="<?template?>images/icon-pulse.png<?/?>" />Support</h3>
                <p>Our relationship with clients doesn’t end simply with the delivery of software. We invest in aftercare so our clients can rest assured that their projects are always up and running (99.9% availability). For mission critical applications we can provide our partners with 24/7 expert support or support on a pay per task basis.</p>
            </div>

        </div>


    </div>
</div>
