<?Content?>
<?editable?>who-we-are
<p>Agile Technologies is a specialized web agency in Dublin. We are usability, security and web development experts. Our team develops best solutions for SME’s around Ireland and aboard.</p><p>Agile Technologies Ltd. was found by Gita Malinovska and Romans Malinovskis on 2007. We are constantly growing with improving our service and over 10 people are now working for us. We work on our projects collaboratively with our Ukraine, Latvian and Russian developers. Together we offer affordable and unlimited resources, ready to complete any project.</p>
<?/?>
<?/?>
