<?$Content?>

<p>There are software companies who follow requirements and learn new technologies. Not us. We work with our clients to design software requirements and we invent new technologies. We train and offer consultancy services to others. If you work with us - you work with the best.</p>

<div class="atk-row">
	<div class="span6">
		<h2>User Interfaces</h3>
		<p>Your visitor is your audience who interacts with your website, your web or mobile application. A great web resource would be designed to be interactive, engaging and fun to use.</p>
	</div>
	<div class="span6">
		<h2>Web Design &amp; Marketing</h3>
		<p>Why do you need a website? What is the purpose of your website? Ofter companies get side-tracked into fancy design and forget the reason they wanted to have website in the first place.</p>
	</div>
</div>
<div class="atk-row">
	<div class="span6">
		<h2>Project Management</h3>
		<p>Our team consists from the early Web Innovators who have been driving technology and standads to where they are today. With this experience we can undertake and manage projects with multiple 3rd patries involved.</p>
	</div>
	<div class="span6">
		<h2>Software Scalability</h3>
		<p>Never rewrite your software ever again. Proper initial architecture can save you decades of men-hours. Functional scalability and architecture design is something we are proud of.</p>
	</div>
</div>
<div class="atk-row">
	<div class="span6">
		<h2>Server Infrastructure</h3>
		<p>We design the software to be developed and deployed in a scallable manner where you can ..</p>
	</div>
	<div class="span6">
		<h2>Consultancy and Training</h3>
		<p></p>
	</div>
</div>