<div id="services" class="section">
    <div class="atk-wrapper">
        <h1>Services</h1>
        <div class="atk-row">
            <div class="span4">
                <h3 class="w-img"><img src="<?template?>images/icon-display.png<?/?>" />Web Development</h3>
                <p>What differentiates our development services from other high calibre development houses is the exceptional scalability and robustness of our technologies. You can be confident that whatever we design and build for you will be built with longevity and consistent performance in mind.</p>

            </div>
            <div class="span4">
                <h3 class="w-img"><img src="<?template?>images/icon-gears.png<?/?>" />App Development</h3>
                <p>We cater for a wide range of App development for both Mobile and Tablet including iPhone and Android, utilising HTML5 as a universal language that works across all the platforms. Our area of expertise lies in the complex field of Mobile-to-TV interactive applications for Internet Protocol Television (IPTV). </p>

            </div>
            <div class="span4">
                <h3 class="w-img"><img src="<?template?>images/icon-beaker.png<?/?>" />Web Design</h3>
                <p>A creative team of designers add the polish and chrome to our structured code to present the most up-to-date and cutting edge look and feel to whatever platform, application or programme we construct. Our designers are passionate about their craft and will work closely with you to ensure the design meets your requirements.</p>
            </div>

        </div>
        <div class="atk-row">
            <div class="span4">
                <h3 class="w-img"><img src="<?template?>images/icon-sign.png<?/?>" />Consultancy</h3>
                <p>Many corporations and content providers have ambitious projects which require a high degree of expert advice and specification. One of our key assets for these clients is our consultancy service for maintaining and optimizing network, security, server and storage infrastructures.</p>
            </div>
            <div class="span4">
                <h3 class="w-img"><img src="<?template?>images/icon-tower.png<?/?>" />Support</h3>
                <p>Our support services are tailored to each client's needs. It is in our best interests to ensure your software’s performance is maintained but is also supported 24/7 by experts on hand, and not outsourced. By providing a quality support service we help our business partners maintain high levels of user satisfaction.</p>
            </div>
            <div class="span4"><img src="<?template?>images/image-services.png<?/?>" class="image" /></div>
        </div>
    </div>
</div>
