<script type="text/javascript">
$(document).ready(function(){
	$('body').attr("id","");$('html').css("height","100%");
	$('#footer_guard').css("height","8em");
	$('.project-grid>div>a:nth-child(4n)').css("marginRight","0");
	//$('#project-grid>div>a').mouseenter(function(){ $(this).find('i>b').fadeIn("fast"); }).mouseleave(function(){ $(this).find('i>b').fadeOut("fast"); });
	
});
</script>

<!--
<a id="inline" href="#data" title="IIA Congress">This shows content of element who has id="data"</a>

<div style="display:none">
	<div id="data" style="max-width:880px">
		Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
	</div>
</div>

-->

<h1 class="wimg" id="AgileWeb_work_Portfilio"><img src="<?template?>images/heading-work.png<?/?>" height="40" width="91" alt="Web Software" /></h1>
<?$buttons?>

<div class="project-grid">
	<div>
	<?Portfilio?>
		<?rows?>
		<?row?>
		<a href="/project/<?$url?>"><i><b></b><img src="/<?$small_thumb?>" /></i><span><?label?>Label title<?/label?></span></a>
		<?/row?>
		<?/rows?>
	<?/Portfilio?>
	</div>
</div>

