/* General */
.atk-wrapper {width:960px;padding-left:0;padding-right:0;}
#content {padding-top:80px;}
#content .section {padding:50px 0;}


/* Styling */
a {text-decoration:none;color:#4560e5;}
.text-gray {color:#777;}

.icon-32-wdesc {min-height:32px;padding-left:42px;position:relative;}
.icon-32-wdesc img {position:absolute;left:0;top:0;}

.atk-form .atk-buttons {border-top:none;padding-top:0;}
.atk-buttons button {font-size:16px;}

.box {padding:20px;}
.box.outline {border:1px solid #e5e5e5}

/* Animation */
#header a, .hero .mask .bg-zoom, #footer a {
-webkit-transition: all 0.2s ease-in-out;
-moz-transition: all 0.2s ease-in-out;
-o-transition: all 0.2s ease-in-out;
transition: all 0.2s ease-in-out;}


/* Typography */
/*
body {font-size:16px;line-height:24px;}
h1 {font-size:3em;font-weight:normal;line-height:1.1;margin-bottom:1.2em;}
h2 {font-size:2em;}
h1+.punchline {margin-top:-1.2em;}
.punchline {font-size:1.8em;line-height:1.2;margin-bottom:1.2em;}
*/

body		{font-family:"Helvetica Neue","Helvetica", sans-serif;font-size:16px;line-height:1;color:#222}
h1			{font-size:48px;font-weight:normal;line-height:1.1;margin-bottom:0.7em;}
h2			{font-size:28px;}
h2 .small {font-size:60%;}
/* h2, h3 {position:relative;} */
/* h2 img, h3 img {position:absolute;top:0;left:0;} */
h3			{font-size:24px;}
/* h3 img {margin-left:-10px;top:0.6em;} */
h4			{font-size:20px;}

h3.w-img, h4.w-img {position:relative;padding-left:30px;}
h3.w-img img, h4.w-img img {position:absolute;left:-16px;top:-8px;}
h4.w-img {}


p,blockquote			{font-size:16px; line-height:24px;}
blockquote {padding-left:20px;border-left:10px solid #5c73e5;}
ul,ol			{font-size:16px; line-height:24px;margin-bottom:1.5em;}
ul li, ol li {}
ul {margin-left:0;}
ul li {list-style-type:none;background:url(../images/bullet.png) no-repeat 0px 0.5em;padding-left:20px;}
.small, small		{font-size:80%;line-height:1.4;}


/* Tweaks */
.ui-button.ui-state-default {color:#fff;text-shadow:none;box-shadow:none;border:none;}


/* Header */
#header {background:#252525;/* border-bottom:1px solid #ced4d9; *//* background:url(../images/texture-blacksand.png) bottom; *//* background:rgba(255,255,255,0.95); */font-size:20px;line-height:50px;text-shadow:0 -2px 0 #222;padding:15px 0;width:100%;position:fixed;top:0;left:0;z-index:999;}
/* #header .shadow {background:url(../images/header-shadow.png) no-repeat bottom center;width:960px;height:25px;margin-left:-480px;position:absolute;top:100%;left:50%;} */
#header, #footer, #header a, #footer a {/* color:#2f3c4f; */color:#bbb;}
#header a:hover, #footer a:hover {color:#fff;}
#header .logo a {display:block;font-size:0;line-height:0;}
#header .navigation {text-align:right;}
#header .navigation a {margin:0 30px;}
#header .contact {position:relative;}
#header .contact a {background:url(../images/icon-getintouch.png);width:68px;height:53px;position:absolute;top:-1px;right:0;}


.section {min-height:300px;}


/* About */
#about {background:#252525;/* background:url(../images/texture-blacksand.png) top; */color:#fff;text-shadow:0 -2px 0 #222;}


/* Team */
#people {background:#fff;/* background:url(../images/texture-cork.png); *//* text-shadow:0 1px 0 #fff2e0; */}
/* #people h1 {text-align:center;} */

#people #team-block h2, #people #team-block h3 {margin-top:0;line-height:1;}
#people #ourteam {border:1px solid #e5e5e5;/* background:url(../images/bg-teammember.jpg) no-repeat right top; */overflow:hidden;height:270px;padding:20px 20px 10px 20px;position:relative;}
#people #ourteam>div {float:left;}
/* #people #ourteam>span {position:absolute;right:27px;top:8px;background:url(../images/teammember-pin.png);width:52px;height:52px;} */
#people #ourteam #team-members {width:280px;height:110px;margin-right:0px;/* padding:20px 0 20px 0px; */}
#people #ourteam #team-members .thumb-grid>a {float:left;width:65px;height:70px;padding:5px;font-size:0;line-height:0;position:relative;margin:0 15px 10px 0;}
#people #ourteam #team-members .thumb-grid>a>img {position:relative;z-index:3;}
#people #ourteam #team-members .thumb-grid>a>i, #people #ourteam #team-members .thumb-grid>a>b {position:absolute;width:89px;height:94px;top:-3px;left:-7px;}
#people #ourteam #team-members .thumb-grid>a>i {background:url(../images/teammember-photo.png) no-repeat;z-index:1;}
#people #ourteam #team-members .thumb-grid>a>b {background:url(../images/teammember-photo-sel.png) no-repeat;z-index:2;display:none;}
#people #ourteam #team-members .thumb-grid>a.selected {top:-1px;}
#people #ourteam #team-members .thumb-grid>a.selected i {display:none;}
#people #ourteam #team-members .thumb-grid>a.selected b {display:block;}
#people #ourteam #member-description {color:#666;/* width:295px;padding:35px 35px 35px 20px;margin:10px 0 0 0; */width:300px;margin-left:10px;}
#people #ourteam #member-description h4 em {display:block;font-size:80%;margin-top:0.2em;}
#people #ourteam #member-description p {font-size:90%;}
#people #ourteam #member-description .contacts {margin-top:1.5em;}
#people #ourteam #member-description .contacts span {border-left:1px solid #e5e5e5;margin:0 0 0 1em;padding-left:1em;}
#people #ourteam #member-description .contacts span:first-child {padding-left:0;margin-left:0;border-left:none;}
/*
#people #ourteam #member-description .contacts div img {float:left;position:relative;top:-0.5em;}
#people #ourteam #member-description .contacts img {display:inline-block;margin-right:0.6em;}
#people #ourteam #member-description .contacts a {margin-right:2em;color:#656565;position:relative;top:-0.4em;}
#people #ourteam #member-description .contacts a:hover {}
*/
#people #team-block>div {width:270px;}
#people #team-block>div:first-child {width:670px;}



/* Services */
#services {background:#5c73e5;/* background:url(../images/texture-grid.png) left; */color:#fff;text-shadow:0 1px 1px #2d3440;}
#services .atk-row .span4, #approach .atk-row .span4 {position:relative;}
#services h3, #approach h3 {white-space:nowrap;}
#services .image, #approach .image {position:absolute;top:0px;right:0;}
#approach .image {top:70px;right:10px;}
/* #services .span4 p, #approach .span4 p {margin-bottom:0;} */
/* #services .atk-row+.atk-row, #approach .atk-row+.atk-row {margin-top:0;} */


/* Approach */
#approach {background:#fff;}


/* Portfolio */
#portfolio {background:#e8e9eb;/* background:url(../images/texture-stripes.png); */text-shadow:0 1px 0 #fff;}
/* #portfolio h1, #portfolio .punchline {text-align:center;} */
#portfolio .text-gray {color:#797980;}


#portfolio .hero {background:url(../images/hero-screen.png) no-repeat 0px 0px;padding-left:2px;margin-left:-2px;min-height:418px;position:relative;}
#portfolio .hero-navigation {position:absolute;z-index:99;}
#portfolio .hero-navigation {font-size:0;line-height:0;margin:0;padding:0;left:12px;bottom:21px;}
#portfolio .hero-navigation li {background:url(../images/project-indicator.png) -22px 0;cursor:pointer;padding:0;margin:0 5px 0 0;width:12px;height:13px;float:left;}
#portfolio .hero-navigation li.activeSlide {background-position:0 0;}
#portfolio .hero-next {background:url(../images/project-next.png);width:126px;height:14px;position:absolute;left:506px;bottom:21px;z-index:99;}
#portfolio .hero .description {margin-top:1.8em;}
#portfolio .hero .mask {background:#fff;box-shadow:0 1px 3px rgba(0,0,0,0.7) inset;margin:11px 0 0 10px;width:620px;height:354px;display:block;position:relative;}
#portfolio .hero .mask .bg-zoom {background:url(../images/bg-zoom.png) no-repeat;width:100%;height:100%;position:absolute;top:0;left:0;opacity:0;}
#portfolio .hero .mask .bg-zoom:hover {opacity:1;cursor:pointer;}
#portfolio .testimonial  {font-style:italic;margin-top:2.8em;padding-left:3.3em;position:relative;display:none;}
#portfolio .testimonial .quote {font:100px "Georgia",serif;color:#cacacc;position:absolute;top:-0.1em;left:0;}
#portfolio .testimonial .author {font-style:normal;}
#portfolio .testimonial .author strong {display:block;}


/*
#index #what-we-do ul {list-style-image: url(../images/icon-gear.png);margin-left:20px;}
#index #built-to-last {margin-bottom:0;}
#index #project-carousel {width:400px;height:352px;background:url(../images/projectcarousel-bg.jpg) no-repeat;color:#525b66;text-shadow:0 1px 0 #fff;padding:20px;}
#index #project-carousel h2 {margin-top:0;line-height:1;}
#index #project-nav {float:right;}
#index #project-nav>a, #index #project-nav>i {font-size:0;line-height:0;display:inline-block;height:36px;background:url(../images/project-nav.png) no-repeat;}
#index #project-nav>a {width:34px;background-position:-36px 0;}
#index #project-nav>a:focus {outline:none;}
#index #project-nav>a:first-child {background-position:0 0;}
#index #project-nav>a:hover {width:34px;background-position:-36px -36px;}
#index #project-nav>a:first-child:hover {background-position:0 -36px;}
#index #project-nav>a:active {width:34px;background-position:-36px -72px;}
#index #project-nav>a:first-child:active {background-position:0 -72px;}
#index #project-nav>i {width:2px;background-position:-34px 0;}
#index #project-screen {width:396px;height:246px;padding:3px 4px;background:url(../images/projectcarousel-scr-bg.png) no-repeat;position:relative;left:-2px;top:-1px;font-size:0;line-height:0;}
#index #project-screen>div {position:relative;}
#index .project>a {width:661px;height:354px;position:absolute;top:11px;left:12px;z-index:4;}
#index .project>a>i {
	display:none;
	padding:25px;
	background:url(../images/bg-black-transp.png);
	position:absolute;
	top:50%;
	left:50%;
	margin:-61px 0 0 -120px;
	border-radius:25px 0 25px 0;
	-moz-border-radius:25px 0 25px 0;
	-webkit-border-radius:25px 0 25px 0;
	z-index:3;}
#index .project>a>b {
	position:absolute;
	height:100%;
	width:100%;
	z-index:2;
	display:none;
	background:-moz-radial-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.5));
	background-image:-webkit-gradient(radial, center 50%, 300, center 50%, 0, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.1)));}
#index DIV.project-holder>div {position:relative;}
#index DIV.project-holder>div>a>i {width:396px;height:246px;position:absolute;top:0;left:0;}
#index DIV.project-holder>div>a>i>b {position:absolute;top:0;left:0;width:100%;height:100%;background:url(../images/project-hover.png) no-repeat;display:none;}
#index #project-indicator {font-size:90%;line-height:1.2;}
#index #project-indicator>span {float:left;display:block;margin-top:.9em;}
#index #project-indicator>div {float:right;margin-top:1.1em;}
#index #project-indicator>div>a {float:left;font-size:0;line-height:0;width:7px;height:8px;margin-left:10px;background:url(../images/project-indicator.png) no-repeat;}
#index #project-indicator>div>a.current {background-position:-7px 0;}
*/

/*
.hero {color:#2f3945;text-shadow:0 1px 0 rgba(255,255,255,0.7);}
.hero-heading {font-size:26px;font-family:Helvetica Neue,Helvetica,Arial,sans-serif;text-align:center;line-height:36px;padding:20px 0 30px 0}
.hero-heading span {color:#2c5f99;}
.project {position:relative;width:683px;}
.project-screen {position:relative;z-index:2;width:683px;height:414px;padding:0px 7px 4px 1px;background:url(../images/hero-screen.png) no-repeat;}
.project-description {float:right;width:250px;margin-top:26px;}
.project-description h2 {margin-top:0;}
.project-navigation {position:absolute;bottom:21px;left:11px;width:661px;}
.project-indicator, .project-indicator li {float:left;margin:0;padding:0;}
.project-indicator li {display:block;height:13px;width:12px;float:left;margin-right:10px;background:url(../images/project-indicator.png);background-position:-22px 0;cursor:pointer;}
.project-indicator li:before {content:""}
.project-indicator li.current {background-position:0 0;cursor:default;}
.project-next {width:126px;height:13px;background:url(../images/project-next.png);float:right;}
.project-holder {width:661px;height:354px;overflow:hidden;position:absolute;top:11px;left:12px;z-index:1;}
*/


/* Contact */
#contact {background:#fff;/* background:url(../images/texture-noise.png); */}
#contact .atk-form .atk-form-row>label {text-align:right;}
/* #contact .atk-form {height:330px;} */
#contact .hr {margin-top:1.5em;padding-top:1.5em;}
#contact h3 {margin-top:0;}
#contact .about {padding:2em;}
#contact.span4 p {margin-bottom:0;}
/* #contact .address {font-size:12px;line-height:1.4;} */


/* Footer */
/* #footer {background:url(../images/texture-blacksand.png);} */

#footer {background:#252525;margin:0;height:auto;min-height:0 !important;padding:30px 0 !important;}
#footer .atk-wrapper {position:relative;font-size:12px;}
#footer .top {background:url(../images/icon-top.png);margin-top:-22px;width:25px;height:44px;position:absolute;top:50%;right:0;display:none;}
#footer .links {text-align:right;}