{Menu}
<div class="atk-cells atk-bar atk-size-mega atk-wrapper">
    <div class="atk-cell atk-valign-middle atk-jackscrew">
        <a href="{page}/{/}" class="atk-logo atk-size-giga" title="Agile55">
            <img src="{public}images/logo.png{/}" height="50" title="Agile55" alt="Agile55"/>
        </a>
        <a href="" class="share atk-size-giga">
            {$share}
        </a>
    </div>

    <div class="atk-cell atk-valign-middle">
        <ul class="atk-menu atk-menu-naked atk-menu-horizontal">

            {rows}
                {row}
                <li id="{$id}" class="{$class}"><a href="{$href}">{label}MenuItem{/}</a></li>
                {/row}
            {/}

        </ul>
    </div>
    {$Content}
</div>
{/}
