<h1>Agile is 3 years</h1>
<div>
    <span class="project-url"><!-- <i class="icon icon-fav-smbo"></i> -->Visit website: <a target="_blank"  href="http://www.agiletech.ie/3y/">www.agiletech.ie/3y/</a></span>
    <p style="margin-top: 0px; margin-right: 0px; margin-bottom: 0.7em; margin-left: 0px; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px; line-height: 1.8; ">
        It has been a tough year for Ireland, but we are happy to report to you that the Irish internet industry is moving from strength to strength! We are delighted to tell you that we have worked with some amazing clients this year, including Realex, an online payments provider, Aishling Software, an accounting software provider, Travelshake, a travel portal in Ireland and Newpark, a secondary school in Dublin.
    </p>
    <p style="margin-top: 0px; margin-right: 0px; margin-bottom: 0.7em; margin-left: 0px; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px; line-height: 1.8; ">
        You are warmly invited to join us in celebrating our 3rd birthday by checking out some of the projects we were involved in this year...
    </p>
    <div class="image clearing">
        <p>
            <img src="<?template?>images/portfolio/big/case-agile3y.jpg<?/?>" alt="Agile Technologies 3 Year Anniversary" />
        </p>
        <p>If you need a web application designed and built, we would be delighted to talk with you and provide a free, no obligations consultation on your project. Send us mail to receive a brochure which explains how we work with you to design and develop your secure, robust, scalable, open-source and social web application.
        </p>
        <p style="margin-top: 0px; margin-right: 0px; margin-bottom: 0.7em; margin-left: 0px; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px; line-height: 1.8; ">
            Finally, we would like to take this opportunity to wish you prosperity and happiness in the coming twelve months.
        </p>
        <p style="margin-top: 0px; margin-right: 0px; margin-bottom: 0.7em; margin-left: 0px; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px; line-height: 1.8; ">
            <em style="font-style: italic; font-weight: normal; ">All the best, Gita and Romans</em>
        </p>
    </div>

</div>
<div class="hr"></div>
