<h1>DomainClub.com - ICANN-Accredited Registrar</h1>
<span class="project-url"><!-- <i class="icon icon-fav-smbo"></i> -->Visit website:
    <a target="_blank"  href="http://www.domainclub.com">www.domainclub.com</a>
</span>
<p>We were approached by US company to build fully featured ICCAN-Accredited Registrar. Accreditation puts a lot of burden on the solution in order to remain compliant yet come with great price for .com domains.</p>
<p>Agile delivered modern and easy to use portal for bulk domain purchase and administration.</p>
<div class="image clearing">
    <div class="image-wrap">
        <img src="<?template?>images/portfolio/big/case-domainclub.jpg<?/?>" alt="DomainClub" />
    </div>
</div>

<div class="hr"></div>
