<h1>SortMyBooksOnline.com - Online Accounting Software</h1>

<div class="span_4 atk-move-right">
    <div class="atk-media-block atk-box atk-swatch-1">

        <div class="atk-content atk-valign-middle">
            <h3>In a nutshell</h3>
            <p>
                Our team have architected, developed, designed and deployed
                a fully-functional Accounting SaaS: Sort My Books Online.
            </p>

            <ul>
                <li>Using Agile Approach and weekly meetings our team have contributed
                to the simplicity and elegancy of the software.</li>

                <li>Despite complexity of business logic, the choice of efficient
                web framewrok allowed us to fully build and launch product in less
                than one year by a team of 3 developers. </li>

                <li>Features a custom billing solution for multiple price-plans,
                billing frequencies, currencies and variety of package configurations.</li>

                <li>Struggled with a different developer team before approached
                us. We managed to get the project on-track.</li>

            </ul>


            <a href="<?public?>pdf/smbo_case_study.pdf<?/?>"><span class="icon-down-circled-1"></span>Download Case Study PDF</a>
        </div>
    </div>

    <div class="atk-media-block atk-box atk-swatch-2">

        <div class="atk-content atk-valign-middle">
            <h3>What Client Says?</h3>
            <p>
            Agile team started working on the SortMyBooks in 2008 and their
            experience contributed to everything starting from the database
            model and MVC structure up to the design of user interface.</p>

            <p>
            There were no "what client says — goes". We were all part of a
            team. Sometimes developers would reject our ideas and
            counter-propose better ones. Discussions heated as we looked
            for the perfect way to solve things.</p>
            
            <p>The late working hours certainly paid up and resulted in a
            solid, fast, scalable and flexible online software.
            </p>

            <i class="atk-move-right">Aisling Software</i>

        </div>
    </div>

</div>


<p>Website: <a target="_blank"  href="http://www.sortmybooksonline.com">www.sortmybooksonline.com</a>. Click on "Features" to watch software videos.</p>

<h4>Final Screenshots</h4>
<img src="<?public?>images/portfolio/big/smbo-login.jpg<?/?>" alt="SMBO Login page" height="481" width="768" />

<div class="hr"></div>

<img src="<?public?>images/portfolio/big/smbo-front.jpg<?/?>" alt="SMBO Front page" height="833" width="768" />

<div class="hr"></div>

<img src="<?public?>images/portfolio/big/smbo-inside.png<?/?>" alt="SMBO Front page" width="768" />

<div class="hr"></div>
