<h1>TunePresto.com - World's first video music maker</h1>
<span class="project-url"><!-- <i class="icon icon-fav-smbo"></i> -->Visit website: <a target="_blank" target="_blank" href="http://www.tunepresto.com">www.tunepresto.com</a></span>
<p><style type="text/css">
    p.p1 {margin: 0.0px 0.0px 0.0px 0.0px; font: 13.0px Arial}
</style></p><p class="p1">Tunepresto, the World's first video music maker, needed a payments and licensing solution for selling their desktop products online.&#160;</p><p class="p1">This included functionality to make coupons and discounts, accept payment in two currencies, and integrate a license key solution for licensing the products.</p><div class="image clearing"><div class="image-wrap"><img src="/templates/default/images/portfolio/big/case-presto.jpg" alt="Tunepresto" /></div><div class="image-comment">Front page</div></div>

<div class="hr"></div>
