<div class="atk-layout">
    <div class="atk-layout-row">
        <div class="atk-layout-cell">
            <div class="atk-wrapper atk-section">
                <div class="atk-cells atk-text-nowrap atk-cells-gutter">
                    <div class="atk-cell atk-valign-middle atk-jackscrew">
                        <a href="{public}{/}" class="atk-logo">
                            <img src="{public}images/logo.png{/}" alt="Agile Toolkit">
                        </a>
                    </div>
                    <div class="atk-cell atk-valign-middle">
                        {$Main_Menu}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="atk-layout-row">
        <div class="atk-layout atk-layout-cell">
            <div class="atk-layout-column atk-layout-fluid">
                <div class="atk-section-small">
                    <div class="atk-wrapper">
                        {$LeftBar}
                        <div class="atk-layout-column atk-layout-fluid">
                            {$Content}
                        </div>
                        {$RightBar}
                    </div>
                </div>
            </div>
        </div>
    </div>

{$Footer}
</div>
