<<?element?>div<?/?> class="atk-lister <?$class?>" id="<?$_name?>">
<?rows?><?row?>

<div style="margin: 5px; width: 300px" class="atk-box atk-swatch-5 isotope-item izotag_all <?$tags?>" >
    <div class="atk-content atk-jackscrew">


        <h3><a  href="<?page?><?$link?><?/?>"><?$name?></a></h3>

        <?$tag_links?>

    <div class="atk-move-center atk-shape-rounded" style="padding: 5px">
        <a  href="<?page?><?$link?><?/?>"><img src="<?template?><?$image?><?/?>" width="226" height="156" ></a>
    </div>

        <p><?descr?>Donec dolor sapien, sollicitudin in erat ac,
    pellentesque venenatis orci.<?/?></p>
    </div>
</div>

<?/row?><?/rows?>
<?$Content?>
</<?element?>div<?/?>>
